{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bubble Bath Gifts- Surprizora</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/bubble_bath_gifts.css' %}">
    
</head>
<body>
	<header>
		<h1>Bubble Bath Gifts</h1>
	</header>
	<main>
		<section>
			<h2>Recommended Gifts for a Relaxing Bubble Bath</h2>
			<div>
				<div class="gift-product">
					<p class="product-description">Bodycology Cherry Blossom Gift Set, (1) Body Wash/Bubble Bath (1) Fragrance Mist (1) Body Cream</p>
					<a href="https://www.amazon.com/Bodycology-Cherry-Blossom-Bubble-Fragrance/dp/B0CLFZJM6T/" target="_blank">
						<img src="{% static 'bodycology.jpg'%}" alt="Product Image">
						

					</a>
					
					<p> Price : $39.99</p>
					<a href="https://www.amazon.com/Bodycology-Cherry-Blossom-Bubble-Fragrance/dp/B0CLFZJM6T/" target="_blank" class="amazon-button">View on amazon</a>
						
				</div>
				<div class="gift-product">
					<p class="product-description">Deluxe Cherry Blossom Relaxing Spa Basket</p>
					<a href="https://www.amazon.com/Relaxing-Aromatherapy-Fragrance-Freida-Joe/dp/B075ZHGHT5/" target="_blank">
						<img src="{% static 'cherry blossom.jpg'%}" alt="Product Image">
					</a>
					
					<p> Price: $37.99</p>
					<a href="https://www.amazon.com/Relaxing-Aromatherapy-Fragrance-Freida-Joe/dp/B075ZHGHT5/" target="_blank" class="amazon-button"> View on amazon</a>
						
				</div>	
				<div class="gift-product">
					<p class="product-description">Tesori d’Oriente Bubble Bath for Women, Foaming Bath, Bath Bubbles for Women Relaxing, Luxurious Body Wash for Women & Skin Care - 500 Ml-16.91 us Fl Oz-</p>
					<a href="https://www.amazon.com/Tesori-dOriente-Foaming-Relaxing-Luxurious/dp/B073WW2VVP/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71MOm-LeQiL._AC_SL1500_.jpg" alt="Product Image">

					</a>
					
					<p> Price: $6.34</p>
					<a href="https://www.amazon.com/Tesori-dOriente-Foaming-Relaxing-Luxurious/dp/B073WW2VVP/" target="_blank" class="amazon-button"> View on amazon </a>
						
				
				</div>
				<div class="gift-product">
					<p class="product-description">Bath Scrunchie Bundled with an Avon Senses Bubble Bath 16.9 fl oz (500ml) (Pink Sands)</p>
					<a href="https://www.amazon.com/Scrunchie-Bundled-Senses-Bubble-500ml/dp/B0CR1Y1L8X/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71-beEUpw4L._AC_SL1080_.jpg" alt="Product Image">

					</a>
					
					<p>Price: $19.99</p>
					<a href="https://www.amazon.com/Scrunchie-Bundled-Senses-Bubble-500ml/dp/B0CR1Y1L8X/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Bath Bombs Set, Relaxing Bath Bombs Made with Essential Oils, Bubble Spa </p>
					<a href="https://www.amazon.com/Bombs-Relaxing-Essential-Bubble-Womens/dp/B0B59N27M4/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61D3+Qi2T1L._AC_SL1400_.jpg" alt="Product Image">
					
					</a>
					
					<p>Price: $36.75</p>
					<a href="https://www.amazon.com/Bombs-Relaxing-Essential-Bubble-Womens/dp/B0B59N27M4/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Bella & Bear Paradise Fruits Bath Salts, Foot Soak, Detox, Fruity Scents, Pack of 6, 2oz</p>
					<a href="https://www.amazon.com/Bella-Bear-Paradise-Fruits-Relaxation/dp/B07PJM9W24/r" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51GHtelx6fL.jpg" alt="Product Image">

					</a>
					
					<p>Price: $24.99</p>
					<a href="https://www.amazon.com/Bella-Bear-Paradise-Fruits-Relaxation/dp/B07PJM9W24/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Aura Cacia Relaxing Lavender Aromatherapy Foam Bath | 2.5 oz. Packet</p>
					<a href="https://www.amazon.com/Aura-Cacia-Bath-Lavender-Relaxing/dp/B000MX9XKI/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81lj-vCp9ML._SL1500_.jpg" alt="Product Image">


					</a>
					
					<p>Price: $2.59</p>
					<a href="https://www.amazon.com/Aura-Cacia-Bath-Lavender-Relaxing/dp/B000MX9XKI/" target="_blank" class="amazon-button">View on amazon</a>
				</div>
				
				<div class="gift-product">
					<p class="product-description">	Dove Milk Swirls Vanilla Raspberry Creamsicle Bath Bombs 2.8 oz (Twin Pack) </p>
					<a href="https://www.amazon.com/Swirls-Vanilla-Raspberry-Creamsicle-Bombs/dp/B07NDNBQGH/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81VryE5mTSL._AC_SL1500_.jpg" alt="Product Image">

					</a>
					
					
					<p>Price: $7</p>
					<a href="https://www.amazon.com/Swirls-Vanilla-Raspberry-Creamsicle-Bombs/dp/B07NDNBQGH/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Thymes - Goldleaf Gardenia Perfumed Body Wash with Pump - Luxury Floral Shower Gel for Women - 9.25 oz</p>
					<a href="https://www.amazon.com/Thymes-Goldleaf-Gardenia-Perfumed-Luxury/dp/B06W5DQWGQ/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51TT9TA52ML._SL1500_.jpg" alt="Product Image">

					</a>
					
					
					<p>Price: $24</p>
					<a href="https://www.amazon.com/Thymes-Goldleaf-Gardenia-Perfumed-Luxury/dp/B06W5DQWGQ/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Bath Bombs for Men: Natural, Organic, Large Bathbombs, 12 Scents for Men, AvoBath Spa, Awapuhi Seaberry, Blackberry Musk, Cedar and Spice, Elegant Bath bomb Gift Set (2.5 oz each)</p>
					<a href="https://www.amazon.com/Spa-Pure-Bath-Bombs-Men/dp/B01HAWDY9O/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/91m2IcnjtwL._SL1500_.jpg" alt="Product Image">

					</a>
					<p>Price: $28.95</p>
					<a href="https://www.amazon.com/Spa-Pure-Bath-Bombs-Men/dp/B01HAWDY9O/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Serenity Bath Oil - 100% Pure Essential Oils - Soothes Away Stress - Uplifts And Energizes Mind - Leaves Skin Nourished - Naturally Scented - Vegan - Suitable For All Skin Types - 3.4 Oz</p>
					<a href="https://www.amazon.com/SERBAT01-AromaWorks-Serenity-Bath-Oil/dp/B00FAQB3K0/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71x-OYmgL2L._SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $23.24</p>
					<a href="https://www.amazon.com/SERBAT01-AromaWorks-Serenity-Bath-Oil/dp/B00FAQB3K0/r" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Cleansing Sage Milk Bath and Fizzing Bubble Bath Bombs Gift Set - Pack of 2 Detox, Moisturize and Relax </p>
					<a href="https://www.amazon.com/Cleansing-Sage-Fizzing-Bubble-Bombs/dp/B0CHFV2NV5/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/6156CquRKaL._AC_SL1500_.jpg" alt="Product Image">

					</a>
					<p>Price :$39</p>
					<a href="https://www.amazon.com/Cleansing-Sage-Fizzing-Bubble-Bombs/dp/B0CHFV2NV5/" target="_blank" class="amazon-button">View on amazon</a>
					
				</div>

				<div class="gift-product">
					<p class="product-description">Lavender Spa Gift Baskets for Women, Birthday Gifts for Women</p>
					<a href="https://www.amazon.com/Lavender-Baskets-Women-Birthday-Gifts/dp/B0CPW8VCGF/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81cAiIWqYZS._SL1500_.jpg" alt="Product Image">
					</a>
					<p>$109.99</p>
					<a href="https://www.amazon.com/Lavender-Baskets-Women-Birthday-Gifts/dp/B0CPW8VCGF/" target="_blank" class="amazon-button">View on amazon</a>

				</div>

				<div class="gift-product">
					<p class="product-description">Collagen Skin Care Bath Gift Set Milk Bath, Bath Salt and Bath Bomb Fizz Pack of 3 - Coconut Magnesium Epsom Salt Oatmeal Milk & Honey</p>
					<a href="https://www.amazon.com/Collagen-Skin-Care-Bath-Gift/dp/B0CHFPVDCL/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/619vipBSAkL._AC_SL1500_.jpg" alt="Product Image">
				
					</a>
					<p>Price: $61.99</p>
					<a href="https://www.amazon.com/Collagen-Skin-Care-Bath-Gift/dp/B0CHFPVDCL/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description"></p>Conair Portable Bath Spa with Dual Jets for Tub, Bath Spa Jet for Tub creates soothing bubbles or massage</p>
					<a href="https://www.amazon.com/Conair-Portable-Creates-Soothing-Bubbles/dp/B09YC42SF3/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61TzJujQylL._SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $90.96</p>
					<a href="https://www.amazon.com/Conair-Portable-Creates-Soothing-Bubbles/dp/B09YC42SF3/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Lavender and Rose Spa Gift Baskets for Women, Birthday Gifts for Women</p>
					<a href="https://www.amazon.com/Lavender-Baskets-Women-Birthday-Gifts/dp/B0CPW94Y4S/r">
						<img src="https://m.media-amazon.com/images/I/71rkhPsgryL._SL1200_.jpg" alt="Product Image">
					</a>
					<p>Price: $61.99</p>
					<a href="https://www.amazon.com/Lavender-Baskets-Women-Birthday-Gifts/dp/B0CPW94Y4S/" target="_blank" class="amazon-button">View on amazon</a>
					
				</div>

				<div class="gift-product">
					<p class="product-description">Gifts Basket for Women, Mom, Wife, Mothers Day Spa Gifts Basket for Women, Bath Set with Lavender Bath Bomb, Body Lotion, Body Wash, Reed Diffuser, Gifts for Birthday Christmas</p>
					<a href="https://www.amazon.com/Spa-Lavender-Diffuser-Birthday-Christmas/dp/B0C2YXDB3Q/r">
						<img src="https://m.media-amazon.com/images/I/71J5Na53ebL._SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $65.95</p>
					<a href="https://www.amazon.com/Spa-Lavender-Diffuser-Birthday-Christmas/dp/B0C2YXDB3Q/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Pink Peach Bath Bombs Gift Set & Jade Gua Sha and Face Roller</p>
					<a href="https://www.amazon.com/Olaemuo-Pink-Peach-Bombs-Roller/dp/B0CTTPKVLQ/">
						<img src="https://m.media-amazon.com/images/I/71i489cgWIL._SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $26.17</p>
					<a href="https://www.amazon.com/Olaemuo-Pink-Peach-Bombs-Roller/dp/B0CTTPKVLQ/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Bundle of Peony and Lemon Bath & Shower Spa Basket Gift Set, Home Spa Kit Contains Shower Gel, Bubble Bath, Body Lotion, Bath Bomb, Bath Salt, Bath and Body Gift Set for Women</p>
					<a href="https://www.amazon.com/Bundle-Shower-Basket-Contains-Bubble/dp/B09XCT8NBP/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/611qpHt-o9L._SL1000_.jpg" alt="Product Image">
					</a>
					<p>Price: 59.99</p>
					<a href="https://www.amazon.com/Bundle-Shower-Basket-Contains-Bubble/dp/B09XCT8NBP/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Bath Bombs Gift Set: 6PCS Hemp Oil and 12PCS Moisturizer Bath Bombs - Natural Refreshing Bubble Bath Kit with Relaxing Scents for Spa-Like Experience - Halloween, Christmas Gifts</p>
					<a href="https://www.amazon.com/Beautifier-Life-Bath-Bombs-Gift/dp/B0CDWWZTJS/r" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71D54zAc1JL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $37.99</p>
					<a href="https://www.amazon.com/Beautifier-Life-Bath-Bombs-Gift/dp/B0CDWWZTJS/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Healthy Skin Gift Set Pack of 2 Turmeric Arnica Orange Magensium Epsom Salt Bath Bombs and Bath Salt</p>
					<a href="https://www.amazon.com/Healthy-Turmeric-Arnica-Orange-Magensium/dp/B0CHFPMKDX/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61kX7yCQDRL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: 39.99</p>
					<a href="https://www.amazon.com/Healthy-Turmeric-Arnica-Orange-Magensium/dp/B0CHFPMKDX/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">12 Pack Natural Bath Bombs Kit for Self Care of Women, Men and Kids, USA Handmade Spa Set, Natural Bath Bombs, Relaxing Bath Products, Spa Accessories for The Shower, Perfect for a Bubble Bath.</p>
					<a href="https://www.amazon.com/Natural-Handmade-Relaxing-Products-Accessories/dp/B0CTLDQLVQ/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61Sf1gFaLUL._AC_.jpg">
					</a>
					<p>Price: 25.99</p>
					<a href="https://www.amazon.com/Natural-Handmade-Relaxing-Products-Accessories/dp/B0CTLDQLVQ/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Moisturizing Fizzing Bubble Bath Bombs Pack of 4 Perfect Spa Gift Set for Birthday Christmas or Stocking Stuffers</p>
					<a href="https://www.amazon.com/Moisturizing-Birthday-Christmas-Stocking-Stuffers/dp/B0CHG2Z99V/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61tvj-3HRgL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $77</p>
					<a href="https://www.amazon.com/Moisturizing-Birthday-Christmas-Stocking-Stuffers/dp/B0CHG2Z99V/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Romance Bath Bundle | Rose Garden 8oz Bubble Bath | Wine 3oz Body Scrub</p>
					<a href="https://www.amazon.com/Nabila-Romance-Bundle-Garden-Bubble/dp/B0CTD228DM/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51CuDJ9DukL._AC_SL1080_.jpg" alt="Product Image">
					</a>
					<p>Price: $35</p>
					<a href="https://www.amazon.com/Nabila-Romance-Bundle-Garden-Bubble/dp/B0CTD228DM/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

			

				
			</div>
		</section>
	</main>
	<footer>
		<p class="glitter-copyright">&copy; 2024 Surprizora. All rights reserved.</p>
	</footer>
		
	
</body>
</html>