{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width , initial-scale = 1.0">
<title>Cancer Zodiac Sign - Gifts</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/cancer_gifts.css' %}">
</head>
<body>
	<header>
		<h1> Cancer Zodiac Sign Gifts</h1>
	</header>
	<section>
		<h2>Recommended Gifts For Cancer Sign</h2>
		<div class="flex-container">
			<div class="gift-product">
				<p class="product-description">13oz Astrology Candle (Cancer)</p>
				<a href="https://www.amazon.com/Whiskey-River-Soap-Co-Astrology/dp/B0859QWM9Y/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/51uiiTsWwQL._AC_SL1000_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $24.69</p>
				<a href="https://www.amazon.com/Whiskey-River-Soap-Co-Astrology/dp/B0859QWM9Y/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer The Zodiac Bitch Lavender & Coconut Water, All-Natural Soy Candle, 9 oz</p>
				<a href="https://www.amazon.com/Malicious-Women-Candle-Co-All-Natural/dp/B07SZ9QXSV/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/51qiIBY9yjL._AC_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $16.00</p>
				<a href="https://www.amazon.com/Malicious-Women-Candle-Co-All-Natural/dp/B07SZ9QXSV/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Zodiac Sign 925 Sterling Silver Yellow Gold Plated Men Ring</p>
				<a href="https://www.amazon.com/RATNAVALI-ARTS-Astrology-Sterling-Friendship/dp/B0BQYM1C56//" target="_blank">
					<img src="https://m.media-amazon.com/images/I/617g2aDLjyL._AC_SX569_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $85.00</p>
				<a href="https://www.amazon.com/RATNAVALI-ARTS-Astrology-Sterling-Friendship/dp/B0BQYM1C56/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Aoxstno 2 Pieces Constellation Ring for Women</p>
				<a href="https://www.amazon.com/Aoxstno-Constellation-Horoscope-Adjustable-Scorpio%EF%BC%882pcs/dp/B0B4WPQG4M/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/511PDo-ElwL._AC_SX569_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $9.99</p>
				<a href="https://www.amazon.com/Aoxstno-Constellation-Horoscope-Adjustable-Scorpio%EF%BC%882pcs/dp/B0B4WPQG4M/" target="_blank" class="amazon-button">View on amazon</a>
 			</div>

			<div class="gift-product">
				<p class="product-description">Personalized Constellation Picture Locket with Zodiac Sign - Silver Sterling</p>
				<a href="amazon.com/SOULMEET-Waterlily-Personalized-Engraving-Constellation/dp/B09VNNS88Y/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71B+5KOfU2L._AC_SX569_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $89.99</p>
				<a href="amazon.com/SOULMEET-Waterlily-Personalized-Engraving-Constellation/dp/B09VNNS88Y/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Personalized Photo Necklace Zodiac Sign - Cancer</p>
				<a href="https://www.amazon.com/Custom4U-Personalized-Constellation-Necklace-Stainless/dp/B07X5K1BN1/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61bSl3ndJjL._AC_SY535_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $15.99</p>
				<a href="https://www.amazon.com/Custom4U-Personalized-Constellation-Necklace-Stainless/dp/B07X5K1BN1/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer Constellation Zodiac Sign Pendant Vintage Necklace Silver Key Jewelry</p>
				<a href="https://www.amazon.com/Beauty-Gift-Constellation-Pendant-Necklace/dp/B08NPTT213/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/4194WWpODOL._AC_SY675_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $26.28</p>
				<a href="https://www.amazon.com/Beauty-Gift-Constellation-Pendant-Necklace/dp/B08NPTT213" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer Zodiac sign stylish astrology gift - 22oz Stein Mug</p>
				<a href="https://www.amazon.com/3dRose-Cancer-Zodiac-stylish-astrology/dp/B0BHNXFWKP/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71TSY-8cNoL._AC_SL1500_.jpg" alt="Product Image">
					
				</a>
				<p class="price">Price: $18.99</p>
				<a href="https://www.amazon.com/3dRose-Cancer-Zodiac-stylish-astrology/dp/B0BHNXFWKP/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer Zodiac Sign Stylish Astrology Gift White Stars, Purple - Desk Clocks</p>
				<a href="https://www.amazon.com/3dRose-Cancer-Stylish-Astrology-Purple/dp/B0BHNK28JF/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/711iP3AI54L._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $19.99</p>
				<a href="https://www.amazon.com/3dRose-Cancer-Stylish-Astrology-Purple/dp/B0BHNK28JF" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Zodiac Pendent For Gift as a Sign of Goodness (Cancer Zodiac)</p>
				<a href="https://www.amazon.com/KESAR-ZEMS-Zodiac-Pendent-Goodness/dp/B08FR89JMK/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/41Y2Blq6ZXL._AC_SY550_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $23.00</p>
				<a href="https://www.amazon.com/KESAR-ZEMS-Zodiac-Pendent-Goodness/dp/B08FR89JMK/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer Zodiac Candle</p>
				<a href="https://www.amazon.com/Cancer-Zodiac-Traits-Horoscope-Astrology/dp/B0CWD9ZB1N/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61EKc626HKL._AC_SL1200_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $24.95</p>
				<a href="https://www.amazon.com/Cancer-Zodiac-Traits-Horoscope-Astrology/dp/B0CWD9ZB1N/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">CANCER 17oz Wine Glass</p>
				<a href="https://www.amazon.com/CANCER-17oz-Glass-Zodiac-Harmony/dp/B0CVNPZJSQ/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/7126HpmgjFL._SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $29.95</p>
				<a href="https://www.amazon.com/CANCER-17oz-Glass-Zodiac-Harmony/dp/B0CVNPZJSQ/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">925 Sterling Silver CZ Cubic Zirconia Simulated Diamond Cancer Zodiac Sign</p>
				<a href="https://www.amazon.com/Sterling-Zirconia-Simulated-Diamond-Necklace/dp/B0BKVWJ7WW/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/41h-pP2EISL._AC_SY535_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $53.00</p>
				<a href="https://www.amazon.com/Sterling-Zirconia-Simulated-Diamond-Necklace/dp/B0BKVWJ7WW/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer Round Glass Wall Art with Holders Horoscope Themed Home Décor</p>
				<a href="https://www.amazon.com/Genericc-Astrological-Holders-Horoscope-Astrology/dp/B08XY287SN/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/614vJ956uIL._AC_SL1316_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $69.00</p>
				<a href="https://www.amazon.com/Genericc-Astrological-Holders-Horoscope-Astrology/dp/B08XY287SN/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer Constellation Sign Zodiac Ear Drop Sun Flower Earring</p>
				<a href="https://www.amazon.com/Cancer-Constellation-Earring-Jewelry-Fashion/dp/B08RNFNVS8/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/51TRqpPXpHL._AC_SY675_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $26.00</p>
				<a href="https://www.amazon.com/Cancer-Constellation-Earring-Jewelry-Fashion/dp/B08RNFNVS8/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer Sign Ring Yellow Gold Plating 925 Sterling Silver Celestial Statement Ring </p>
				<a href="https://www.amazon.com/Ratnavali-Arts-Gemstone-Astrology-Horoscope/dp/B09F8YKBFG/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/31wpEsFhtaL._AC_SX679_.jpg" alt="Product Image">

				</a>
				<p class="price">Price: $45.00</p>
				<a href="https://www.amazon.com/Ratnavali-Arts-Gemstone-Astrology-Horoscope/dp/B09F8YKBFG/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer Sun Sign Ring, Black Enamel Ring, Natural Cubic Zircon Ring</p>
				<a href="https://www.amazon.com/Gemstone-Birthmonth-Sterling-Christmas-Birthday/dp/B0CKT1V8NW/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/514YYNSnAiL._AC_SY535_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $72.80</p>
				<a href="https://www.amazon.com/Gemstone-Birthmonth-Sterling-Christmas-Birthday/dp/B0CKT1V8NW/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer Girl Hoodie</p>
				<a href="https://www.amazon.com/Astrology-Hoodie-Cancer-Zodiac-Hippie/dp/B08N6Y7H7K/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/51nO0z+Ks9L._AC_SX569_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $43.60</p>
				<a href="https://www.amazon.com/Astrology-Hoodie-Cancer-Zodiac-Hippie/dp/B08N6Y7H7K/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer Constellation Zodiac Sign Angel Wings Necklace</p>
				<a href="https://www.amazon.com/Cancer-Constellation-Necklace-Pendant-Fashion/dp/B0BBVR85VQ/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/51d0Y8ZTIBL._AC_SY675_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $25.99</p>
				<a href="https://www.amazon.com/Cancer-Constellation-Necklace-Pendant-Fashion/dp/B0BBVR85VQ/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Pillowcase Cancer Dependable As Hell Cute Zodiac Sign</p>
				<a href="https://www.amazon.com/Pillowcase-Cancer-Dependable-Zodiac-Astrology/dp/B0CMBJZH4Y/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/41LQkwBOItL._AC_SL1200_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $21.97</p>
				<a href="https://www.amazon.com/Pillowcase-Cancer-Dependable-Zodiac-Astrology/dp/B0CMBJZH4Y/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer, Zodiac Sign T Shirt</p>
				<a href="https://www.amazon.com/Cancer-Zodiac-Horoscope-Astrology-Brother/dp/B0BMLJXY7Z/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/41E+Oid2IzL._AC_SX466_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $30.50</p>
				<a href="https://www.amazon.com/Cancer-Zodiac-Horoscope-Astrology-Brother/dp/B0BMLJXY7Z/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer Silver Yellow Gold Plated Zodiac Sign Enamel Necklace</p>
				<a href="https://www.amazon.com/RATNAVALI-ARTS-Sterling-Necklaces-Horoscope/dp/B0BR4BCV4W/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61z7hM8JlXL._AC_SX569_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $78.00</p>
				<a href="https://www.amazon.com/RATNAVALI-ARTS-Sterling-Necklaces-Horoscope/dp/B0BR4BCV4W/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cancer Constellation Zodiac Sign Heart Chain Bracelet</p>
				<a href="https://www.amazon.com/Cancer-Constellation-Bracelet-Jewelry-Fashion/dp/B0CM97SGFH/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/41kFm6FAOVL._AC_SY675_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $25.99</p>
				<a href="https://www.amazon.com/Cancer-Constellation-Bracelet-Jewelry-Fashion/dp/B0CM97SGFH/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

		</div>

		
	</section>
	<footer>
		<p class="glitter-copyright">&copy; Surprizora 2024. All rights reserved.</p>
	</footer>


</body>
</html>