{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width , initial-scale = 1.0">
<title>Capricorn Gifts - Surprizora</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/capricorn_gifts.css' %}">

</head>

<body>
	<header>
		<h1>Capricorn Gifts - Surprizora</h1>
	</header>
	<main>
		<section>
			<h2>Recommended Gifts For Capricorn Sign</h2>
			<div class="flex-container">
				<div class="gift-product">

				</div>
			</div>
		</section>
	</main>
	<footer>
		<p class="glitter-copyright">&copy;Surprizora 2024. All Rights Reserved.</p>
	</footer>
	
</body>
</html>