{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<link rel = "stylesheet" type="text/css" href="{% static 'css/creating_arts_gifts.css' %}">
</head>
<body>
<header>
	<h1>Gifts for Creative People</h1>
</header>
<main>
	<section>
		<h2>Recommended gifts for those who love to create art</h2>
		<div>
			<div class="gift-product">
				<p class="product-description">The Original Buddha Board Art Set: Water Painting w/ Bamboo Brush & Stand for Mindfulness Meditation , Inkless Drawing Board - Painting & Art Supplies  Ideal Relaxation Gifts for Women or Men</p>
				<a href="https://www.amazon.com/Original-Buddha-Board-Relaxing-Painting/dp/B0010TEFFQ/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/410teGDSUjL._AC_SL1200_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $27.00</p>
				<a href="https://www.amazon.com/Original-Buddha-Board-Relaxing-Painting/dp/B0010TEFFQ/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">U.S. Art Supply 133-Piece Deluxe Ultimate Artist Painting Set with Aluminum and Wood Easels, 72 Paint Colors, 24 Acrylic, 24 Oil, 24 Watercolor, 8 Canvases, 44 Brushes, 4 Painting & Sketch Pads & More</p>
				<a href="https://www.amazon.com/US-Art-Supply-Painting-Accessories/dp/B00QQUUJCC" target="_blank">
					<img src="https://m.media-amazon.com/images/I/91YiQVeYd1L._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $129.99</p>
				<a href="https://www.amazon.com/US-Art-Supply-Painting-Accessories/dp/B00QQUUJCC/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">54-Piece U.S. Art Supply Drawing & Sketching Set with 4 Sketch Pads - Ultimate Artist Kit with Graphite, Charcoal, Pastels, Erasers in Pop-Up Carry Case</p>
				<a href="https://www.amazon.com/U-S-Art-Supply-54-Piece-Sketching/dp/B08MWSWKTN/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/91Hl6AHHWiL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $27.25</p>
				<a href="amazon.com/U-S-Art-Supply-54-Piece-Sketching/dp/B08MWSWKTN/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">LEGO Art Hokusai – The Great Wave 31208, 3D Japanese Wall Art Craft Kit, Framed Ocean Canvas</p>
				<a href="https://www.amazon.com/LEGO-Art-Hokusai-Japanese-Creative/dp/B0BBSKBXQ2/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81F4V399DvL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">$89.95</p>
				<a href="https://www.amazon.com/LEGO-Art-Hokusai-Japanese-Creative/dp/B0BBSKBXQ2/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">163-Piece Deluxe Art Supply Set with Paints, Pastels, Pencils, Easel, and Sketch Pads</p>
				<a href="https://www.amazon.com/US-Art-Supply-Piece-Premium-Additional/dp/B071LGGZWY/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/912HVi12diL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">$46.03</p>
				<a href="https://www.amazon.com/US-Art-Supply-Piece-Premium-Additional/dp/B071LGGZWY/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
			<div class="gift-product">
				<p class="product-description">Darice 80-Piece Deluxe Art Set , Art Supplies for Drawing, Painting and More in a Compact, Portable Case </p>
				<a href="https://www.amazon.com/Darice-80-Piece-Deluxe-Art-Set/dp/B002NZJ4L6/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71TWVVPsHlL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $30</p>
				<a href="https://www.amazon.com/Darice-80-Piece-Deluxe-Art-Set/dp/B002NZJ4L6/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Prismacolor Premier Colored Pencils, Manga Colors, 23 Pack</p>
				<a href="https://www.amazon.com/Prismacolor-1774800-Premier-Colored-23-Count/dp/B003YDYO8E/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/912RcwFnmzL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $24.14</p>
				<a href="https://www.amazon.com/Prismacolor-1774800-Premier-Colored-23-Count/dp/B003YDYO8E/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Daler Rowney Simply 122-Piece Complete Artist Multi-Technique Paint Set, Assorted Colours and Art Products</p>
				<a href="https://www.amazon.com/Daler-Rowney-Complete-Artist-carrying/dp/B077H3GKP4/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81qv3cgvURL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $44.00</p>
				<a href="https://www.amazon.com/Daler-Rowney-Complete-Artist-carrying/dp/B077H3GKP4" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">by Artist's Loft | All-Media Art Set | in Aluminum Case 126 Pc.</p>
				<a href="https://www.amazon.com/Artists-Loft-All-Media-Aluminum-Case/dp/B00AT6RY90/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71fO4ftil3L._AC_SL1194_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $67.00</p>
				<a href="https://www.amazon.com/Artists-Loft-All-Media-Aluminum-Case/dp/B00AT6RY90/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">FixtureDisplays 80 Pieces of Deluxe Art Set-Painting Art Supplies-Compact Carrying case-</p>
				<a href="https://www.amazon.com/FixtureDisplays-Set-Painting-Supplies-Compact-Beginners-Professional/dp/B08K34THSD/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81TtnrzQQeL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $20.99</p>
				<a href="https://www.amazon.com/FixtureDisplays-Set-Painting-Supplies-Compact-Beginners-Professional/dp/B08K34THSD/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Crayola Crayon Classpack, Bulk School Supplies, 64 Colors, Pack of 832 Crayons</p>
				<a href="https://www.amazon.com/Crayola-BIN528019-Crayon-Classpack-Colors/dp/B001KZFU3Q/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81ZWGpGCpYL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $69.29</p>
				<a href="https://www.amazon.com/Crayola-BIN528019-Crayon-Classpack-Colors/dp/B001KZFU3Q/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Soucolor 192 Deluxe Art Set & 80 Colors Alcohol Markers</p>
				<a href="https://www.amazon.com/Soucolor-Alcohol-Birthday-Childrens-Christmas/dp/B0CWGWF5W5/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/711lpEgXgAL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $63.88</p>
				<a href="https://www.amazon.com/Soucolor-Alcohol-Birthday-Childrens-Christmas/dp/B0CWGWF5W5/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Caran d'Ache Neocolor II Water-Soluble Pastels, Wooden Gift Box - 84 Colors</p>
				<a href="https://www.amazon.com/Caran-dAche-Neocolor-Water-Soluble-Pastels/dp/B00134SC6G/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/918n9lrpp2L._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $245.31 </p>
				<a href="https://www.amazon.com/Caran-dAche-Neocolor-Water-Soluble-Pastels/dp/B00134SC6G/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">KINGART 152 Ultimate Series 124 Pc. Pastel and Pencil Sketching & Drawing Art Set with Paper Pads</p>
				<a href="https://www.amazon.com/KINGART-152-Ultimate-Sketching-Drawing/dp/B07HCQKV5F/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/612ZTvgV2tL._AC_SL1200_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $40.00</p>
				<a href="https://www.amazon.com/KINGART-152-Ultimate-Sketching-Drawing/dp/B07HCQKV5F/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Pidilite Combo kit of Acrylic Colours, Glass Colours 3D Outliners and Fine Art Canvas with Brushes, Gift set</p>
				<a href="https://www.amazon.com/Pidilite-Festive-Acrylic-Colours-Outliners/dp/B08KX3X8QV/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81lvZ7lXbqL._AC_SL1500_.jpg" alt="Product Image">

				</a>
				<p class="price">Price: $54.50</p>
				<a href="https://www.amazon.com/Pidilite-Festive-Acrylic-Colours-Outliners/dp/B08KX3X8QV/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">COLOUR BLOCK 266pc Mixed Media Art Bundle I Coloring & Watercolor Pencils, Soft Pastels</p>
				<a href="https://www.amazon.com/COLOUR-BLOCK-Coloring-Watercolor-Pencils/dp/B0CTLL9731/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/818JWtoHIaL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">$94.95</p>
				<a href="https://www.amazon.com/COLOUR-BLOCK-Coloring-Watercolor-Pencils/dp/B0CTLL9731/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">HANDA DIY Painting Fluid Bear Teddy Bear Painting Kit Set Creative Home Decorations Handmade Doll Figurine Toys Gift</p>
				<a href="https://www.amazon.com/Painting-Creative-Decorations-Handmade-Valentines/dp/B0C65LBQ2Y/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/512xAZIEg6L._AC_.jpg" alt="Product Image">
				</a>
				<p class="price">$22.99</p>
				<a href="https://www.amazon.com/Painting-Creative-Decorations-Handmade-Valentines/dp/B0C65LBQ2Y/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			
		</div>
	</section>
</main>
<footer>
	<p class="glitter-copyright">&copy;Surprizora 2024. All rights reserved.</p>
</footer>
</body>
</html>