{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Curling up with a good book or watching a favorite TV show - Surprizora</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/curling_up_gifts.css'%}">
</head>
<body>
	<header>
		<h1>Cozy Escapes with a Good Book Or A TV Show</h1>
	</header>
	<main>
		<section>
			<h2>Recommended Gifts for Cozy Escapes and Curling up</h2>
			<div>
				<div class="gift-product">
					<p class="product-description">Cup Cozy Pillow (Cheetah)- *As Seen on TV* -The World's Best Cup Holder! Keep Your Drinks Close and Prevent Spills. Use it Anywhere-Couch, Floor, Bed, Man cave, car, RV, Park, Beach and More!</p>
					<a href="https://www.amazon.com/Cup-Cozy-Pillow-Cheetah-anywhere-Couch/dp/B072M9DJG5/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81faEBjaORL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $23.65</p>
					<a href="https://www.amazon.com/Cup-Cozy-Pillow-Cheetah-anywhere-Couch/" target="_blank" class="amazon-button">View on amazon</a>
				</div>
				<div class="gift-product">
					<p class="product-description">Finger Book Holder for Reading in Bed</p>
					<a href="https://www.amazon.com/Reading-Reading%EF%BC%8C-Accessories%EF%BC%8CBook-Accessories-Lovers%EF%BC%8CGrey/dp/B0BMTR9Z76/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/818UVg1GI5L._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $10.99</p>
					<a href="https://www.amazon.com/Reading-Reading%EF%BC%8C-Accessories%EF%BC%8CBook-Accessories-Lovers%EF%BC%8CGrey/dp/B0BMTR9Z76/r" target="_blank" class="amazon-button">View on amazon</a>
				</div>
				<div class="gift-product">
					<p class="product-description">Ontel Pillow Pad Ultra Multi-Angle Soft Tablet Stand, Gray - Comfortable Angled Viewing for iPad, Tablets, Kindle, Smartphones, Books, Magazines, and More</p>
					<a href="https://www.amazon.com/Ontel-Pillow-Ultra-Multi-Angle-Tablet/dp/B091SL5XPB/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81H2e85rFmL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $10.93</p>
					<a href="https://www.amazon.com/Ontel-Pillow-Ultra-Multi-Angle-Tablet/dp/B091SL5XPB/" target="_blank" class="amazon-button">View on amazon</a>
				</div>
				
				<div class="gift-product">
					<p class="product-description">Glocusent USB Rechargeable Book Light for Reading in Bed, Portable Clip-on LED Reading Light</p>
					<a href="https://www.amazon.com/Glocusent-Rechargeable-Portable-Brightness-Dimmable/dp/B09PR1BTM7/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61KDpa+vM6L._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price :$12</p>
					<a href="https://www.amazon.com/Glocusent-Rechargeable-Portable-Brightness-Dimmable/dp/B09PR1BTM7/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description"> Reading & Bed Rest Pillows</p>
					<a href="https://www.amazon.com/Nestl-Reading-Pillow-Medium-Adults/dp/B07VWC1B49/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61gTozXyHxL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $36.47</p>
					<a href="https://www.amazon.com/Nestl-Reading-Pillow-Medium-Adults/dp/B07VWC1B49/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Set of 2 Prism Glasses Lazy readers glasses Horizontal Spectacles Laying Down Flat Bed for Read/watch TV book Phone Ipad Tablet</p>
					<a href="https://www.amazon.com/Glasses-Readers-Horizontal-Spectacles-Children/dp/B07F72SMTF/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/31q0bifkj2L._AC_.jpg" alt="Product Image">
					</a>
					<p>Price: 22.99</p>
					<a href="https://www.amazon.com/Glasses-Readers-Horizontal-Spectacles-Children/dp/B07F72SMTF/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Flat Light for Reading in Bed at Night Clear LED Book Full Page Light Illuminator Panel Plate Lamp Board Wireless</p>
					<a href="https://www.amazon.com/Reading-Paperback-Protection-Office-Company/dp/B08QVYN5X2/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51YWcRsRDuL._AC_SL1024_.jpg" alt="Product Image">
					</a>
					<p>Price: $6.25</p>
					<a href="https://www.amazon.com/Reading-Paperback-Protection-Office-Company/dp/B08QVYN5X2/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product description"> Reading & Bed Rest Pillows Grey Back Pillow for Bed, Bed Chair Arm Pillow with Pockets</p>
					<a href="https://www.amazon.com/Improved-Reading-Support-Pockets-Removable/dp/B085DB1JWR/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61VZJ0uQrXL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $88.49</p>
					<a href="https://www.amazon.com/Improved-Reading-Support-Pockets-Removable/dp/B085DB1JWR/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Nestl Reading Pillow for Bed Adult – Back Pillow for Sitting in Bed</p>
					<a href="https://www.amazon.com/Nestl-Striped-Reading-Support-Shredded/dp/B08P2DLHYL/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71NEx1gV5cL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $30.71</p>
					<a href="https://www.amazon.com/Nestl-Striped-Reading-Support-Shredded/dp/B08P2DLHYL/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Purple Butterfly Blanket Glow in The Dark Neon Beautiful Butterfly Throw Blanket for Girls Women Ultra Soft Lightweight Cozy Butterfly Blankets for Bed Couch Sofa 60"X80"</p>
					<a href="https://www.amazon.com/SOULZZZ-Butterfly-Beautiful-Lightweight-Blankets/dp/B0CCJK2PWF/" alt="Product Image">
						<img src="https://m.media-amazon.com/images/I/719kHpL52sL._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p>Price: $35.99</p>
					<a href="https://www.amazon.com/SOULZZZ-Butterfly-Beautiful-Lightweight-Blankets/dp/B0CCJK2PWF/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Fleece Throw Blanket 350GSM Cozy Soft Plush Lightweight Thick Blanket Blankets for Bed, Couch, Travel, Camping Warm Soft Blankets and Throws for Sofa Suitable All Seasons (Burgundy, Twin)</p>
					<a href="https://www.amazon.com/Blanket-Lightweight-Blankets-Suitable-Burgundy/dp/B09QQJ8R52/">
						<img src="https://m.media-amazon.com/images/I/71sf2N83IvL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p>Price: $19.79</p>
					<a href="https://www.amazon.com/Blanket-Lightweight-Blankets-Suitable-Burgundy/dp/B09QQJ8R52/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">I'm in A Relationship with Watching Movies Pillowcase 20x30</p>
					<a href="https://www.amazon.com/Relationship-Watching-Movies-Pillowcase-Single/dp/B0CMB9R21T/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/41RSJerEU7L._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p>Price: $21.97</p>
					<a href="https://www.amazon.com/Relationship-Watching-Movies-Pillowcase-Single/dp/B0CMB9R21T/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">I'm in A Relationship with Watching Fiction Pillowcase 20x30</p>
					<a href="https://www.amazon.com/Relationship-Watching-Fiction-Pillowcase-Single/dp/B0CMBCZJK6/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/41FSFNKh2AL._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p>Price: $21.97</p>
					<a href="https://www.amazon.com/Relationship-Watching-Fiction-Pillowcase-Single/dp/B0CMBCZJK6/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Cat in The Bookshelf Fleece Throw Blanket Vintage Kitten Throw Blanket Cat Librarian Book Lover Gifts Retro Luxury Cat Blankets Sherpa Reversible Bed Couch Blanket (Throw, 50 x 60 Inches)</p>
					<a href="https://www.amazon.com/ARIGHTEX-Bookshelf-Librarian-Blankets-Reversible/dp/B0CTMB21SH/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71l32V0BVmL._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p>Price: $28.99</p>
					<a href="https://www.amazon.com/ARIGHTEX-Bookshelf-Librarian-Blankets-Reversible/dp/B0CTMB21SH/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

			
			</div>
			
		</section>
	</main>
	<footer>
		<p class="glitter-copyright">&copy; 2024 Surprizora. All rights reserved.</p>
	</footer>
</body>
  
    
</html>

