{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale =1.0">
	<title>Exercise Gifts - Surprizora</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/exercise_gifts.css' %}">
</head>
<body>
	<header>
		<h1>Gifts For The Endorphin Freaks</h1>
	</header>
	<main>
		<section>
			<h2>Recommended Gifts For Exercise Lovers</h2>
			<div>
				<div class="gift-product">
					<p class="product-description">TYR Big Mesh Mummy Backpack For Wet Swimming, Gym, and Workout Gear , Pink</p>
					<a href="https://www.amazon.com/TYR-Mesh-Mummy-Backpack-Pink/dp/B00JOVDJA4/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81Ocsg2sWpL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price:$16.13</p>
					<a href="https://www.amazon.com/TYR-Mesh-Mummy-Backpack-Pink/dp/B00JOVDJA4/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Ultimate Nutrition Prostar Whey Protein Powder Blend of Whey Concentrate Isolate and Peptides – Low Carb, Keto Friendly, 25 Grams of Protein - 150 Servings, Cookies N Cream, 10 Pounds</p>
					<a href="https://www.amazon.com/Ultimate-Nutrition-Prostar-Protein-Cookies/dp/B002EVPVMU/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/41ClNfUkESL._AC_.jpghttps://m.media-amazon.com/images/I/41ClNfUkESL._AC_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $129.99</p>
					<a href="https://www.amazon.com/Ultimate-Nutrition-Prostar-Protein-Cookies/dp/B002EVPVMU/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">SM Percussion Massage Gun Deep Tissue for Athletes | Cordless Handheld 30-Speed Percussive Muscle Massage Therapy + 6 Heads, LCD Screen & Carry Case | For Back, Neck & Body Pain, & Athlete Recovery</p>
					<a href="https://www.amazon.com/Athletes-Percussion-Cordless-Handheld-Percussive/dp/B09BS9YLKS/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71A4ZA+hmOL._AC_SL1436_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $39.99</p>
					<a href="https://www.amazon.com/Athletes-Percussion-Cordless-Handheld-Percussive/dp/B09BS9YLKS/" target="_blank" class="amazon-button">View on amazon</a>
					
				</div>

				<div class="gift-product">
					<p class="product-description">adidas Men's Superlite 2 Cap</p>
					<a href="https://www.amazon.com/adidas-Superlite-Relaxed-Adjustable-Performance/dp/B0748W31L5/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71eHXFsetiS._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $25.48</p>
					<a href="https://www.amazon.com/adidas-Superlite-Relaxed-Adjustable-Performance/dp/B0748W31L5/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Nike Mens Fundamental</p>
					<a href="https://www.amazon.com/Nike-Mens-Fundamental-Training-Gloves/dp/B013Y8T52I/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/91aeSbnr78L._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $19.99 - $23.98</p>
					<a href="https://www.amazon.com/Nike-Mens-Fundamental-Training-Gloves/dp/B013Y8T52I/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Under Armour Men's New Freedom Flag T-Shirt</p>
					<a href="https://www.amazon.com/Under-Armour-Freedom-T-Shirt-Marine/dp/B08NWLMRRF/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/511EC3rw+-L._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $23.70 - $28.60</p>
					<a href="https://www.amazon.com/Under-Armour-Freedom-T-Shirt-Marine/dp/B08NWLMRRF/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Gildan Men's Crew T-Shirts, Multipack, Style G1100</p>
					<a href="https://www.amazon.com/Gildan-Mens-T-Shirt-Assortment-Medium/dp/B077ZKDQLV/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/710o0VupScL._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $15.42 - $68.08</p>
				</div>

				<div class="gift-product">
					<p class="product-description">QZUnique Women's Ankle Length Footless Elastic Leggings Yoga Pants</p>
					<a href="https://www.amazon.com/QZUnique-Dreamlike-Printed-Elastic-Leggings/dp/B012FKYL4I/" taret="_blank">
						<img src="https://m.media-amazon.com/images/I/51hWRKngsnL._AC_SY550_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $16.99 - $17.99</p>
				</div>

				<div class="gift-product">
					<p class="product-description">Russell Athletics Men's Mesh Shorts - Versatile Workout Attire with Pockets, Dry Fit Performance for Gym and Workouts</p>
					<a href="https://www.amazon.com/Russell-Athletic-Short-Pockets-Maroon/dp/B00ECNYP5C/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71uid8RDbSL._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $12.99</p>
				</div>

				<div class="gift-product">
					<p class="product-description">Under Armour Undeniable 5.0 Duffle</p>
					<a href="https://www.amazon.com/Under-Armour-unisex-adult-Undeniable-Metallic/dp/B093LPX4G1/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/5189Rfw0b1L._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $37.37 - $40.00</p>
					<a href="https://www.amazon.com/Under-Armour-unisex-adult-Undeniable-Metallic/dp/B093LPX4G1/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Brooke & Jess Designs Cute Gym Bag - Ladies Workout Gym Tote with Pockets - Gifts for Women, Sports Bags</p>
					<a href="https://www.amazon.com/Gym-Tote-Bag-Women-Workout/dp/B086MPF64C/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/91pdOiNqlwL._AC_SX466_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $29.95</p>
					<a href="https://www.amazon.com/Gym-Tote-Bag-Women-Workout/dp/B086MPF64C/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Under Armour UA Hustle Fleece</p>
					<a href="https://www.amazon.com/Under-Armour-Vital-Woven-Pants/dp/B07PT8F44G/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51mJikHrW3L._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price:	$19.92 - $40.00</p>
					<a href="https://www.amazon.com/Under-Armour-Vital-Woven-Pants/dp/B07PT8F44G/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Women Workout Sets 2 Pieces Suits High Waisted Yoga Leggings with Stretch Sports Bra Gym Tracksuits Active Set</p>
					<a href="https://www.amazon.com/Hotexy-Workout-Leopard-Waisted-Leggings/dp/B09537YJZP/" alt="Product Image">
						<img src="https://m.media-amazon.com/images/I/61JboLU0e2L._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $25.99</p>
					<a href="https://www.amazon.com/Hotexy-Workout-Leopard-Waisted-Leggings/dp/B09537YJZP/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Personalized Insulated Water Bottle 25oz (750ml) Premium Quality Stainless Steel Double Wall Vacuum Elemental Bottle</p>
					<a href="https://www.amazon.com/Personalized-Insulated-Stainless-Elemental-Valentine/dp/B01L5X0726/" alt="Product Image">
						<img src="https://m.media-amazon.com/images/I/81u46vB09ZL._SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $32.99</p>
				</div>

				<div class="gift-product">
					<p class="product-description">JBL Endurance Peak 3 - True Wireless Headphones (Black), Small</p>
					<a href="https://www.amazon.com/JBL-Endurance-Peak-Wireless-Headphones/dp/B0BQPW9R9H/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81t-qs9GKJL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $99.95</p>
					<a href="https://www.amazon.com/JBL-Endurance-Peak-Wireless-Headphones/dp/B0BQPW9R9H/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Sennheiser Consumer Audio Sport True Wireless Earbuds - Bluetooth in-Ear Headphones, Music and Calls with Adaptable Acoustics, Noise Isolation, Touch Controls, IP54 27-Hour Battery, Black</p>
					<a href="https://www.amazon.com/Sennheiser-Sport-True-Wireless-Earbuds/dp/B09V1QX6PB/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/713-dxgeLjL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $149.95</p>
					<a href="https://www.amazon.com/Sennheiser-Sport-True-Wireless-Earbuds/dp/B09V1QX6PB/r" target="_blank" class="amazon-button">View on amazon</a>
				</div>


			</div>
		</section>
		
	</main>
	<footer>
		<p class="glitter-copyright">&copy; 2024 Surprizora. All rights reserved.</p>
	</footer>
</body>
</html>
