{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width , initial-scale=1.0">
<title> Gemini Gifts - Surprizora</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/gemini_gifts.css' %}">
</head>
<body>
	<header>
		<h1>Gemini Gifts - Surprizora</h1>
	</header>
	<main>
		<section>
			<h2>Recommended Gifts For Gemini Signs</h2>
			<div class="flex-container">
				<div class="gift-product">
					<p class="product-description">Lavishe 925 Sterling Silver Cubic Zirconia Horoscope Zodiac</p>
					<a href="https://www.amazon.com/Sterling-Zirconia-Horoscope-Constellation-Astrology/dp/B0B4GPDVNG/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71KTmnyuo9L._AC_SY535_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $11.99</p>
					<a href="https://www.amazon.com/Sterling-Zirconia-Horoscope-Constellation-Astrology/dp/B0B4GPDVNG/" target="_blank" class="amazon-button">View on amazon</a>
				</div>
				
				<div class="gift-product">
					<p class="product-description">Whiskey River Soap Co. 13oz Astrology Candle (Gemini)</p>
					<a href="https://www.amazon.com/Whiskey-River-Soap-Co-Astrology/dp/B0859QF8YD/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51Qi76mKZbL._AC_SL1000_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $24.69</p>
					<a href="https://www.amazon.com/Whiskey-River-Soap-Co-Astrology/dp/B0859QF8YD/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description"> Gemini The Zodiac Bitch, Candle, Exotic Hemp (Cannabis Flower & Patchouli),</p>
					<a href="https://www.amazon.com/Malicious-Women-Candle-Patchouli-All-Natural/dp/B07T1F6K11/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61xmB2f-iVL._AC_SL1000_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $25.00</p>
					<a href="https://www.amazon.com/Malicious-Women-Candle-Patchouli-All-Natural/dp/B07T1F6K11/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Zodiac Pendant Necklace Astrology Gold Tone Chain with Gold Message Card</p>
					<a href="https://www.amazon.com/HOLY-KT-Constellation-Necklace-Astrology/dp/B07MB2GBYJ" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61ZJBiQb1GL._AC_SY535_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $5.97</p>
					<a href="https://www.amazon.com/HOLY-KT-Constellation-Necklace-Astrology/dp/B07MB2GBYJ/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Astrology Gifts for Women Gemini Mug with Lid and Straw - 20 oz Insulated Skinny Tumbler with Personalized Gift Box & Birthday Candle </p>
					<a href="https://www.amazon.com/Astrology-Gifts-Women-Gemini-Straw/dp/B0CFRL2XLN/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71Mbx9b8PAL._SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $23.99</p>
					<a href="https://www.amazon.com/Astrology-Gifts-Women-Gemini-Straw/dp/B0CFRL2XLN/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Luxe Gifting Zodiac Coffee Mug 15oz Black</p>
					<a href="https://www.amazon.com/Luxe-Gifting-Zodiac-Coffee-gemini/dp/B0CVL3ZBJ8/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/41lPspCkwUL._AC_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $19.99</p>
					<a href="https://www.amazon.com/Luxe-Gifting-Zodiac-Coffee-gemini/dp/B0CVL3ZBJ8/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Gemini Coffee and Tea Mug Star Sign Gemini</p>
					<a href="https://www.amazon.com/Zodiac-Gemini-Definition-Horoscope-Meaning/dp/B0CLN9BYQH/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/516-PpFQT2L._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $18.99</p>
					<a href="https://www.amazon.com/Zodiac-Gemini-Definition-Horoscope-Meaning/dp/B0CLN9BYQH/" target="_blank" class="amazon-button">View on amazon</a>>
					
					

				</div>

				<div class="gift-product">
					<p class="product-description">Gemini Baseball Hat Funny Caps for Men Women</p>
					<a href="https://www.amazon.com/Horoscope-Gemini-Baseball-Funny-Unisex/dp/B0CT2NVGN1" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61ICZXhQ1gL._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $10.68</p>
					<a href="https://www.amazon.com/Horoscope-Gemini-Baseball-Funny-Unisex/dp/B0CT2NVGN1/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Women Gemini Mug Gift Decor Gemini Zodiac Ceramic Mug</p>
					<a href="https://www.amazon.com/Women-Gemini-Zodiac-Ceramic-Coffee/dp/B095QZQP7N/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/514+nLWB5lS._AC_SL1000_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $19.95</p>
					<a href="https://www.amazon.com/Women-Gemini-Zodiac-Ceramic-Coffee/dp/B095QZQP7N/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Gemini Pendant Necklace 16 Inches </p>
					<a href="https://www.amazon.com/gemini-necklace-pendant-jewelry-astrology/dp/B0BWTJVY3Y/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71rcw+xAO4L._SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $32.00</p>
					<a href="https://www.amazon.com/gemini-necklace-pendant-jewelry-astrology/dp/B0BWTJVY3Y/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Gemini Soy Scented Candle</p>
					<a href="https://www.amazon.com/Gemini-Gifts-Zodiac-Candle-Personalized/dp/B08MCPP267" target="_blank">
						<img src="https://m.media-amazon.com/images/I/41R-34L0OCL.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $35.99</p>
					<a href="https://www.amazon.com/Gemini-Gifts-Zodiac-Candle-Personalized/dp/B08MCPP267/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description"> I'm May Girl Coffee Mug</p>
					<a href="https://www.amazon.com/TeesPure-Black-Gemini-Birthday-Coffee/dp/B08KFH6XQH/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61j8kfDPBRL._AC_SL1000_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $14.99</p>
					<a href="https://www.amazon.com/TeesPure-Black-Gemini-Birthday-Coffee/dp/B08KFH6XQH/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Gemini Zodiac Sign Description Green Personalized Mug</p>
					<a href="https://www.amazon.com/Gemini-Zodiac-Description-Birthday-Personalized/dp/B0CW23Z87V/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51bn2FhS8oL._AC_SL1400_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $14.95</p>
					<a href="https://www.amazon.com/Gemini-Zodiac-Description-Birthday-Personalized/dp/B0CW23Z87V" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Gemini Horoscope Zodiac Coffee Mug Cup</p>
					<a href="https://www.amazon.com/Gemini-Horoscope-Zodiac-Coffee-Birthday/dp/B0CPY1STSB/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61Vb-wHpspL._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $25.90</p>
					<a href="https://www.amazon.com/Gemini-Horoscope-Zodiac-Coffee-Birthday/dp/B0CPY1STSB/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Gemini Astrology Shot Glass 1.5oz</p>
					<a href="https://www.amazon.com/Gemini-Astrology-Glasses-Astrological-Alcohol/dp/B07H21T39X/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51hV7V44scL._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $12.97</p>
					<a href="https://www.amazon.com/Gemini-Astrology-Glasses-Astrological-Alcohol/dp/B07H21T39X/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Gemini Fats Funny Coffee Mugs (Black; 15oz)s</p>
					<a href="https://www.amazon.com/Gemini-Coffee-Gemimi-Zodiac-Ceramic/dp/B09P3L9QS8/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/41avOSLSovL._AC_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $16.95</p>
					<a href="https://www.amazon.com/Gemini-Coffee-Gemimi-Zodiac-Ceramic/dp/B09P3L9QS8/" target="_blank" class="amazon-button">View on amazon</a>

				</div>

				<div class="gift-product">
					<p class="product-description">Gemini Astrology Travel Mug 14oz</p>
					<a href="https://www.amazon.com/Gemini-Astrology-Travel-Astrological-Stainless/dp/B07GW9CFNV" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51COkDYhUYL._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $22.97</p>
					<a href="https://www.amazon.com/Gemini-Astrology-Travel-Astrological-Stainless/dp/B07GW9CFNV/" target="_blank" class="amazon-button">View on amazon</a>

				</div>

				<div class="gift-product">
					<p class="product-description"> Hate Being Awesome But I M A Gemini Coffee Mug</p>
					<a href="https://www.amazon.com/Awesome-Gemini-Zodiac-Coffee-Ceramic/dp/B09P3FZNMH/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/41G+WJvB1aL._AC_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $16.95</p>
					<a href="amazon.com/Awesome-Gemini-Zodiac-Coffee-Ceramic/dp/B09P3FZNMH" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Gemini Zodiac Constellation Easter Candy Buckets Tote Bags</p>
					<a href="https://www.amazon.com/Constellation-Buckets-Reusable-Halloween-Decoration/dp/B0CWV4YC9F/r" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61gTmcrmoRL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $21.99</p>
					<a href="https://www.amazon.com/Constellation-Buckets-Reusable-Halloween-Decoration/dp/B0CWV4YC9F/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Relatable Horoscope Vanilla Candle - Gemini </p>
					<a href="https://www.amazon.com/Relatable-Horoscope-Vanilla-Candle-Alignment/dp/B0BY84JLSF/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61udzTbkolL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $21.99</p>
					<a href="https://www.amazon.com/Relatable-Horoscope-Vanilla-Candle-Alignment/dp/B0BY84JLSF/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Gemini Portable Insulated Lunch Bag Double Insulated Box Waterproof Picnic Tote Bag</p>
					<a href="https://www.amazon.com/Gemini-Portable-Insulated-Double-Waterproof/dp/B09VTDPXX3/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71Fb5AUy7aL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $14.98</p>
					<a href="https://www.amazon.com/Gemini-Portable-Insulated-Double-Waterproof/dp/B09VTDPXX3/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Gemini Denim Tote Bag </p>
					<a href="https://www.amazon.com/Gemini-Denim-Tote-Bag-Zodiac/dp/B0C6DZPR8D/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71rORSKVqKL._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $49.00</p>
					<a href="https://www.amazon.com/Gemini-Denim-Tote-Bag-Zodiac/dp/B0C6DZPR8D/" taget="_blank" class="amazon-button">View on amazon</a>
				</div>

			</div>
		</section>
	</main>	
	
</body>
</html>