{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Leo Zodiac Sign Gifts - Surprizora </title>
<link rel="stylesheet" type="text/css" href="{% static 'css/leo_gifts.css' %}">
</head>
<body>
	<header>
		<h1>Leo Zodiac Sign Gift - Surprizora </h1>
	</header>
	<main>
		<section>
			<h2> Recommended Gifts For Leo</h2>
			<div class="flex-container">
				<div class="gift-product">
					<p class="product-description">Pendant Zodiac Necklace For Men Women Antiqued .925 Sterling Silver</p>
					<a href="https://www.amazon.com/Astrology-Horoscope-Medallion-Necklace-Antiqued/dp/B004QIGEQQ/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71tDNWfKbaL._AC_SY535_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $39.99</p>
					<a href="https://www.amazon.com/Astrology-Horoscope-Medallion-Necklace-Antiqued/dp/B004QIGEQQ/" target="_blank" class="amazon-button">View on amazon</a>

				</div>
				
				<div class="gift-product">
					<p class="product-description">Leo Funny Kitchen Towel</p>
					<a href="https://www.amazon.com/Zodiac-Funny-Kitchen-Housewarming-Farmhouse/dp/B088P65V39/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81Lmc6wpraL._SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $15.95</p>
					<a href="https://www.amazon.com/Zodiac-Funny-Kitchen-Housewarming-Farmhouse/dp/B088P65V39/" target="_blank" class="amazon-button">View on amazon</a>
						
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Zodiac Sign - Astrology Essential Oil Blend 10ml</p>
					<a href="https://www.amazon.com/Mystic-Moments-Leo-Astrology-Essential/dp/B06XRYVN5T/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81L+fjqCIJL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $16.95</p>
					<a href="https://www.amazon.com/Mystic-Moments-Leo-Astrology-Essential/dp/B06XRYVN5T/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description"> Leo Bangle for Women, Zodiacs Charms, Black Epoxy and Crystals</p>
					<a href="https://www.amazon.com/Alex-Ani-Zodiac-Expandable-Crystals/dp/B08DRR63KK/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61OW88NsKnL._AC_SX535_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $26.99</p>
					<a href="https://www.amazon.com/Alex-Ani-Zodiac-Expandable-Crystals/dp/B08DRR63KK/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Coffee and Tea Mug</p>
					<a href="https://www.amazon.com/Zodiac-Coffee-Definition-Horoscope-Meaning/dp/B0CLN94649/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/513w5DafLKL._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $20.99</p>
					<a href="https://www.amazon.com/Zodiac-Coffee-Definition-Horoscope-Meaning/dp/B0CLN94649/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Coffee Cup, Travel Mug</p>
					<a href="https://www.amazon.com/Horoscope-Astrology-T-Shirt-Birthday-Tumbler/dp/B08FRSL4BJ/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/519urVQ31vL._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $29.95</p>
					<a href="https://www.amazon.com/Horoscope-Astrology-T-Shirt-Birthday-Tumbler/dp/B08FRSL4BJ/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leather zodiac men's wallet, Leo star sign wallet for men</p>
					<a href="https://www.amazon.com/Unik4art-Leather-leather-anniversary-present/dp/B09BNXTFWV/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/810x7YSOoEL._SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $29.90</p>
					<a href="https://www.amazon.com/Unik4art-Leather-leather-anniversary-present/dp/B09BNXTFWV/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Zodiac Sweatshirt gift</p>
					<a href="amazon.com/Zodiac-Sweatshirt-gift-star-Light/dp/B0B3MDLRKP/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51BpNRkKySL._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $33.95 </p>
					<a href="https://www.amazon.com/Zodiac-Sweatshirt-gift-star-Light/dp/B0B3MDLRKP/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Zodiac Signs Embroidered Soft Crown 100% Brushed Cotton Cap</p>
					<a href="https://www.amazon.com/Trendy-Apparel-Shop-Embroidered-Brushed/dp/B06XSVNY2M/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71PjolGjcnL._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $19.99</p>
					<a href="https://www.amazon.com/Trendy-Apparel-Shop-Embroidered-Brushed/dp/B06XSVNY2M/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Mug, Leo Coffee Or Tea Cup</p>
					<a href="https://www.amazon.com/coffee-funny-star-horoscope-zodiac/dp/B098RGVCKG/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/41OwqrGVerS._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $14.95</p>
					<a href="https://www.amazon.com/coffee-funny-star-horoscope-zodiac/dp/B098RGVCKG/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Sign Constellation Night Sky Pendant </p>
					<a href="https://www.amazon.com/Astrology-Constellation-Night-Pendant-Necklace/dp/B073X5SPGG/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61ilGz8mCqL._AC_SY535_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $14.95</p>
					<a href="https://www.amazon.com/Astrology-Constellation-Night-Pendant-Necklace/dp/B073X5SPGG/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Birth Month Flower Personalized Engraved Ring</p>
					<a href="https://www.amazon.com/Personalized-Engraved-Jewelry-Friends-Mothers/dp/B09LVGRMSY/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61m8z3yECyL._SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $29.50</p>
					<a href="https://www.amazon.com/Personalized-Engraved-Jewelry-Friends-Mothers/dp/B09LVGRMSY/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description"> Leo Sun Sign Ring, Black Enamel Ring, Natural Cubic Zircon Ring, CZ Gemstone Ring, Womens Ring</p>
					<a href="https://www.amazon.com/Gemstone-Birthmonth-Sterling-Christmas-Birthday/dp/B0CKT23D7P/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51NoPLY46JL._AC_SY535_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $72.70</p>
					<a href="https://www.amazon.com/Gemstone-Birthmonth-Sterling-Christmas-Birthday/dp/B0CKT23D7P/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Stainless Steel Yellow tone Mens Zodiac Sign Leo Lion Head Octagon Face</p>
					<a href="https://www.amazon.com/Stainless-Octagon-Fashion-Comfort-Jewelry/dp/B0CLX58R69" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61MCtxkiiUL._AC_SY535_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $42.00</p>
					<a href="https://www.amazon.com/Stainless-Octagon-Fashion-Comfort-Jewelry/dp/B0CLX58R69/" target="_blank" class="amazon-button">View on amazon</a>
					
				</div>

				<div class="gift-product">
					<p class="product-description">2 Pieces Constellation Ring for Women Horoscope Zodiac</p>
					<a href="https://www.amazon.com/Aoxstno-Constellation-Horoscope-Adjustable-Scorpio%EF%BC%882pcs/dp/B0B4WPMC79/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/5157BdjcGYL._AC_SX522_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $9.99</p>
					<a href="https://www.amazon.com/Aoxstno-Constellation-Horoscope-Adjustable-Scorpio%EF%BC%882pcs/dp/B0B4WPMC79/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">14K Gold Plated & Rhodium Plated Brass 16'' chain - Leo Constellation Sign</p>
					<a href="https://www.amazon.com/Sterling-Forever-Leo-Constellation-Necklace/dp/B071CFMGK2/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51FW7KyvDjL._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $35.00</p>
					<a href="https://www.amazon.com/Sterling-Forever-Leo-Constellation-Necklace/dp/B071CFMGK2/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Stainless Steel Mens Black tone Leo/lion Head Wild Life/zodiac Sign Fashion Bracelet Measures 33.1mm</p>
					<a href="https://www.amazon.com/Stainless-Fashion-Bracelet-Measures-Jewelry/dp/B0CPBTCX5V" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51AHMaqaPhL._AC_SY535_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $69.00</p>
					<a href="https://www.amazon.com/Stainless-Fashion-Bracelet-Measures-Jewelry/dp/B0CPBTCX5V/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Sign 3D Engraved Crystal Keepsake Gift Large (3 x 5 x 2.5 in)</p>
					<a href="https://www.amazon.com/Zodiac-Engraved-Crystal-Keepsake-Large/dp/B0CJP1Y14Y/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/81VD7RQgFiL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $99.99</p>
					<a href="https://www.amazon.com/Zodiac-Engraved-Crystal-Keepsake-Large/dp/B0CJP1Y14Y/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description"> Leo Women Pajamas 2 Piece PJ Sets Shorts and Top Sleepwear Loungewear with Pocket</p>
					<a href="https://www.amazon.com/Zodiac-Constellation-Pajamas-Sleepwear-Loungewear/dp/B0BY6KCNJL/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71XkppnQ2TL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $30.99</p>
					<a href="https://www.amazon.com/Zodiac-Constellation-Pajamas-Sleepwear-Loungewear/dp/B0BY6KCNJL" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description"> Leo T-Shirt, Adult Clothing</p>
					<a href="https://www.amazon.com/Birthday-Astrology-T-Shirt-Clothing-Designs/dp/B07K65NGLJ/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51b36R2OmRL._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $29.99 </p>
					<a href="https://www.amazon.com/Birthday-Astrology-T-Shirt-Clothing-Designs/dp/B07K65NGLJ/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">12'' Leo Ready to Hang Wooden Hanger Wall</p>
					<a href="https://www.amazon.com/Farmhouse-Hanger-Plaque-Thanksgiving-Housewarming/dp/B09NZNPXF4/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/71j2LCngD5L._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $15.99</p>
					<a href="https://www.amazon.com/Farmhouse-Hanger-Plaque-Thanksgiving-Housewarming/dp/B09NZNPXF4/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Jewelry Zodiac Constellation Pendant</p>
					<a href="https://www.amazon.com/jewelry-horoscope-necklace-pendant-constellation/dp/B0BWJLSB3W/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61Jxc-BhZVL._SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $32.00</p>
					<a href="https://www.amazon.com/jewelry-horoscope-necklace-pendant-constellation/dp/B0BWJLSB3W/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Candle, Inspirational Candle For Him or Her</p>
					<a href="https://www.amazon.com/Astrology-Constellation-Inspirational-Positive-Affirmation/dp/B09H7VLQX8/" alt="Product Image">
						<img src="https://m.media-amazon.com/images/I/61mUsNKgh9L._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $25.95</p>
					<a href="https://www.amazon.com/Astrology-Constellation-Inspirational-Positive-Affirmation/dp/B09H7VLQX8/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Zodiac Sign Leo Jewelry Storage Case</p>
					<a href="https://www.amazon.com/Jewelry-Storage-Leather-Jewellery-Organizer/dp/B0CN1MXY6G/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61GfZXq0p5L._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $20.09</p>
					<a href="https://www.amazon.com/Jewelry-Storage-Leather-Jewellery-Organizer/dp/B0CN1MXY6G/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description"> Leo Sign Motivational Coffee Mug</p>
					<a href="https://www.amazon.com/common-cuckoo-Motivational-Astrology-Horoscope/dp/B0BSDL8WXS/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/41XPt--9sFL._AC_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $15.49</p>
					<a href="https://www.amazon.com/common-cuckoo-Motivational-Astrology-Horoscope/dp/B0BSDL8WXS/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Ceramic Coffee Mug with Handle </p>
					<a href="https://www.amazon.com/Zodiac-Ceramic-Coffee-Handle-Birthday/dp/B0CKXB8MXB/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/616WxWswVXL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $22.69</p>
					<a href="https://www.amazon.com/Zodiac-Ceramic-Coffee-Handle-Birthday/dp/B0CKXB8MXB/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Funny Leo AF Zodiac Sign Black Coffee Mug Shirt Cup</p>
					<a href="https://www.amazon.com/Zodiac-Horoscope-Astrology-T-Shirt-Birthday/dp/B08FRMYV39/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51wfKmm75QL._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $17.95</p>
					<a href="https://www.amazon.com/Zodiac-Horoscope-Astrology-T-Shirt-Birthday/dp/B08FRMYV39/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Mug Leo Powerful As Hell Cute Zodiac Sign Gift</p>
					<a href="https://www.amazon.com/Powerful-Zodiac-Astrology-Traits-Coffee/dp/B096733Z4Y" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51RusDIqEnS._AC_SL1200_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $19.97</p>
					<a href="https://www.amazon.com/Powerful-Zodiac-Astrology-Traits-Coffee/dp/B096733Z4Y/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Zodiac Sign Leo Wooden Storage Box</p>
					<a href="https://www.amazon.com/Zodiac-Journal-Notebook-Hardcover-Notebooks/dp/B0CQ2F5GNL/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61nMWpZ+ccL._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $16.39</p>
					<a href="https://www.amazon.com/Wooden-Storage-Vintage-Organizer-Keepsake/dp/B0CJFC2NVF/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Zodiac Sign Bracelet Leather Hide Rope Wristband Brown Jewelry Gift</p>
					<a href="https://www.amazon.com/DIYthinker-Constellation-Bracelet-Leather-Wristband/dp/B08CVHVRQQ/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/51GYm7PT8SL._AC_SY675_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $25.99</p>
					<a href="https://www.amazon.com/DIYthinker-Constellation-Bracelet-Leather-Wristband/dp/B08CVHVRQQ/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

				<div class="gift-product">
					<p class="product-description">Leo Zodiac Sign and Constellation Men's Beach Short</p>
					<a href="https://www.amazon.com/Zodiac-Constellation-Pockets-Vacation-Workout/dp/B0BVRPL3P1/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61sJkEW6A4L._AC_SL1500_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $20.99</p>
					<a href="https://www.amazon.com/Zodiac-Constellation-Pockets-Vacation-Workout/dp/B0BVRPL3P1/" target="_blank" class="amazon-button">View on amazon</a>

						
				</div>

				<div class="gift-product">
					<p class="product-description">Leo the Lion Zodiac Star Sign Zipped Fleeced Hoodie</p>
					<a href="https://www.amazon.com/Zodiac-Zipped-Fleeced-Hoodie-Birthday/dp/B0B3R4TL41/" target="_blank">
						<img src="https://m.media-amazon.com/images/I/61p3CQzXBTL._AC_SX569_.jpg" alt="Product Image">
					</a>
					<p class="price">Price: $53.65</p>
					<a href="https://www.amazon.com/Zodiac-Zipped-Fleeced-Hoodie-Birthday/dp/B0B3R4TL41/" target="_blank" class="amazon-button">View on amazon</a>
				</div>

			</div>
		</section>
	</main>
	<footer>
		<p class="glitter-copyright">&copy;Surprizora 2024. All rights reserved</p>
	</footer>
</body>
</html>