{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset = "UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale = 1.0">
	<title>Riding Bikes Gifts - Surprizora</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/riding_bikes_gifts.css' %}">
</head>
<body>
<header>
	<h1>Bikes - Surprizora</h1>
</header>
<main>
	<section>
		<h2>Bring back their childhood nostalgia with their favorite activity: riding bikes</h2>
		<div>
			<div class="gift-product">
				<p class="product-description">Electric Bike for Adult 1000W Ebike 48V 20AH Removable Battery 26"X4"Fat Tire up to 30MPH &75 Miles Long Range Off Road Beach Mountain Electric Bicycle with Dual Hydraulic Disc Brakes</p>
				<a href="https://www.amazon.com/DAMSON-Electric-Removable-Mountain-Hydraulic/dp/B0C4T489KG/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71PONwm4zOL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $999</p>
				<a href="https://www.amazon.com/DAMSON-Electric-Removable-Mountain-Hydraulic/dp/B0C4T489KG/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
			<div class="gift-product">
				<p class="product-description">Mongoose Flatrock Youth/Adult Hardtail Mountain Bike, 24 to 29-Inch Wheels, 21-Speed Twist Shifters, 14.5 to 18-Inch Lightweight Aluminum Frame</p>
				<a href="https://www.amazon.com/Mongoose-Flatrock-Hardtail-Mountain-14-5-Inch/dp/B08PXQ3NQ1/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81hdMq5P69S._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $152.15</p>
				<a href="https://www.amazon.com/Mongoose-Flatrock-Hardtail-Mountain-14-5-Inch/dp/B08PXQ3NQ1/" target="_blank" class="amazon-button">View on amazon</a>
				
			</div>
			<div class="gift-product">
				<p class="product-description">sixthreezero Around The Block Women's Beach Cruiser Bike</p>
				<a href="https://www.amazon.com/sixthreezero-Around-Womens-Cruiser-Bicycle/dp/B00AK0S07K/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81f8j+f8NQL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $258.38 - $399.99</p>
				<a href="https://www.amazon.com/sixthreezero-Around-Womens-Cruiser-Bicycle/dp/B00AK0S07K/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
	
			<div class="gift-product">
				<p class="product-description">Huffy Stone Mountain</p>
				<a href="https://www.amazon.com/Huffy-Hardtail-Mountain-21-Speed-Lightweight/dp/B07DT78NWR/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/716aHjNXlJL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $229.99</p>
				<a href="https://www.amazon.com/Huffy-Hardtail-Mountain-21-Speed-Lightweight/dp/B07DT78NWR/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
	
			<div class="gift-product">
				<p class="product-description">Mongoose Malus Mens and Women Fat Tire Mountain Bike, 26-Inch Bicycle Wheels, 4-Inch Wide Knobby Tires, Steel Frame, 7 Speed Drivetrain, Shimano Rear Derailleur, Disc Brakes</p>
				<a href="https://www.amazon.com/Mongoose-Mountain-26-Inch-Shifters-Mechanical/dp/B00TYB8Q7A/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81NSMI7pFLL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $326.94</p>
				<a href="https://www.amazon.com/Mongoose-Mountain-26-Inch-Shifters-Mechanical/dp/B00TYB8Q7A/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
	
			<div class="gift-product">
				<p class="product-description">Schwinn Destiny & Baywood Men and Women Beach Cruiser Bike, Adult and Youth, 24 or 26 Inch Wheels, Steel Frame, Single Speed Drivetrains, Rear Rack for Cargo, Suggested Rider Height 4'8" to 6'2</p>
				<a href="https://www.amazon.com/Schwinn-Destiny-Womens-Cruiser-Single/dp/B07LC4WF45/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71Wf38vjiJL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $316.77</p>
				<a href="https://www.amazon.com/Schwinn-Destiny-Womens-Cruiser-Single/dp/B07LC4WF45/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
	
			<div class="gift-product">
				<p class="product-description">Schwinn Wayfarer Adult Hybrid Bike, Mens and Womens, Step-Over or Step-Through Frame Options, 7-Speed Drivetrain, Rear Rack, 700C Wheels</p>
				<a href="https://www.amazon.com/Schwinn-Featuring-Retro-Styled-Step-Through-Drivetrain/dp/B00TYB8LMU/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81Z901y-VgL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $342.00 - $679.99</p>
				<a href="https://www.amazon.com/Schwinn-Featuring-Retro-Styled-Step-Through-Drivetrain/dp/B00TYB8LMU/r" target="_blank" class="amazon-button">View on amazon</a>
			</div>
	
			<div class="gift-product">
				<p class="product-desription">Schwinn Huron Adult Beach Cruiser Bike, 17-18-Inch Steel Frame, Wide Wheels for Stability, Rear Coaster Brakes, Multiple Speed Options</p>
				<a href="https://www.amazon.com/Schwinn-Cruiser-Featuring-Three-Speed-Drivetrain/dp/B07KWWDMY8/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/816r1P3DCcL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price:$304.07 - $576.08 </p>
				<a href="https://www.amazon.com/Schwinn-Cruiser-Featuring-Three-Speed-Drivetrain/dp/B07KWWDMY8/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
	
			<div class="gift-product">
				<p class="product-description">Dynacraft Dynacraft</p>
				<a href="https://www.amazon.com/Dynacraft-Silver-Canyon-Bike-Size/dp/B07DTHPD6P/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81-aByA2CzL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $344.99 - $399.89</p>
				<a href="https://www.amazon.com/Dynacraft-Silver-Canyon-Bike-Size/dp/B07DTHPD6P/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
	
			<div class="gift-product">
				<p class="product-description">Mongoose Dolomite Mens and Womens Fat Tire Mountain Bike, 26-Inch Wheels, 4-Inch Wide Knobby Tires, 7-Speed, Adult Steel Frame, Front and Rear Brakes</p>
				<a href="https://www.amazon.com/Mongoose-Dolomite-Featuring-High-Tensile-Drivetrain/dp/B01N2Z117A/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/91IvF9cwCiL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $553.38</p>
				<a href="https://www.amazon.com/Mongoose-Dolomite-Featuring-High-Tensile-Drivetrain/dp/B01N2Z117A/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
	
			<div class="gift-product">
				<p class="product-description">Mongoose Title Pro or Elite BMX Race Bike with 20 or 24-Inch Wheels in Red, Orange, or Black, Beginner or Returning Riders, Featuring Lightweight Tectonic T1 Aluminum Frame and Internal Cable Routing</p>
				<a href="https://www.amazon.com/Mongoose-Beginner-Returning-Featuring-Lightweight/dp/B07WW2JGDT/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81INAHaIKVL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $499.99 - $579.99</p>
				<a href="https://www.amazon.com/Mongoose-Beginner-Returning-Featuring-Lightweight/dp/B07WW2JGDT" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			
			
        </div>
		
	

		

	
	</section>

</main>
<footer>
	<p class="glitter-copyright">&copy; Surprizora 2024. All rights reserved.</p>
</footer>
</body>

</html>