{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width , initial-scale = 1.0">
	<title>Video Games Gifts - Surprizora</title>
	<link rel = "stylesheet" type="text/css" href="{% static 'css/video_games_gifts.css' %}">
</head>
<body>
<header>
	<h1>Gamers' Paradise</h1>
</header>
<main>
	<section>
		<h2> Recommended Gifts For Gamers</h2>
		<div>
			<div class="gift-product">
				<p class="product-description">Gamer Gift Box - Tumbler, Pillow Cover, Socks, Sign </p>
				<a href="https://www.amazon.com/gp/aw/d/B0C6NKJQSX/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/712IUwmsNpL._AC_SL1200_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $29.99</p>
				<a href="https://www.amazon.com/gp/aw/d/B0C6NKJQSX/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
			<div class="gift-product">
				<p class="product-description">Stainless Steel Tumbler 20oz 1Pc</p>
				<a href="https://www.amazon.com/Gamers-Boyfriend-Gaming-Stainless-Tumbler/dp/B0BQVYGPZH/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81HAjseTlnL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price:  $21.99</p>
				<a href="https://www.amazon.com/Gamers-Boyfriend-Gaming-Stainless-Tumbler/dp/B0BQVYGPZH/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
			<div class="gift-product">
				<p class="product-description">BACKBONE One Mobile Gaming Controller for iPhone (Lightning) - PlayStation Edition - Turn Your iPhone into a Gaming Console - Play Xbox, PlayStation, Call of Duty, Roblox, Genshin Impact & More</p>
				<a href="https://www.amazon.com/Backbone-Mobile-Gaming-Controller-PlayStation-iOS/dp/B09ZXTRKQ9/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61hB8jmc4tL._SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $99.99</p>
				<a href="https://www.amazon.com/Backbone-Mobile-Gaming-Controller-PlayStation-iOS/dp/B09ZXTRKQ9/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Paladone Playstation Controller Icons Light with 3 Light Modes - Sound Reactive, Dynamic Phasing, and Standard Mode - Gaming Desk Accessories and Game Room Decor</p>
				<a href="https://www.amazon.com/Paladone-PP4140PS-Playstation-Icons-Light/dp/B079CBP6P9/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71jfJFpJh8L._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $26.99</p>
				<a href="https://www.amazon.com/Paladone-PP4140PS-Playstation-Icons-Light/dp/B079CBP6P9/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">PULSE Explore Wireless Earbuds</p>
				<a href="https://www.amazon.com/PULSE-Explore-Wireless-Earbuds-PlayStation-5/dp/B0CMDFSB89/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/51ZV9sUq9xL._SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $169.99</p>
				<a href="https://www.amazon.com/PULSE-Explore-Wireless-Earbuds-PlayStation-5/dp/B0CMDFSB89/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Gaming Headphone Stand PC Accessories - RGB Headset Stand with 2 USB Charger, Cool LED Headphone Holder PC Gaming Accessories Gift</p>
				<a href="https://www.amazon.com/Gaming-Headphone-Stand-PC-Accessories/dp/B0CHJQ6XQ5/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71YyxJDEqSL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $24.99</p>
				<a href="https://www.amazon.com/Gaming-Headphone-Stand-PC-Accessories/dp/B0CHJQ6XQ5/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Game Gifts for Teen Boys Age 8-16 T-Shirt</p>
				<a href="https://www.amazon.com/Gaming-Teenage-Boys-Gamer-T-Shirt/dp/B0BRWL62JQ/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/A13usaonutL._CLa%7C2140%2C2000%7CA1OLJoFdNqL.png%7C0%2C0%2C2140%2C2000%2B0.0%2C0.0%2C2140.0%2C2000.0_AC_SX466_.png" alt="Product Image">
				</a>
				<p class="price">Price: $20.99</p>
				<a href="https://www.amazon.com/Gaming-Teenage-Boys-Gamer-T-Shirt/dp/B0BRWL62JQ/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Personalized Gamer Gifts For Men Women Coffee Mug Travel Cup Water Bottle Tumbler Gift</p>
				<a href="https://www.amazon.com/WONWIX-Personalized-Christmas-Valentine-Insulated/dp/B0CLDFJCZB/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81SwqzYqZEL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">$24.95</p>
				<a href="https://www.amazon.com/WONWIX-Personalized-Christmas-Valentine-Insulated/dp/B0CLDFJCZB/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Don't Bother Me Right Meow - Funny Video Gamer & Cat Lover T-Shirt</p>
				<a href="https://www.amazon.com/Dont-Bother-Me-Right-Meow/dp/B083779T7L/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/A13usaonutL._CLa%7C2140%2C2000%7C81nOtKeFgVL.png%7C0%2C0%2C2140%2C2000%2B0.0%2C0.0%2C2140.0%2C2000.0_AC_SX466_.png" alt="Product Image">
				</a>
				<p class="price">Price: $19.99</p>
				<a href="https://www.amazon.com/Dont-Bother-Me-Right-Meow/dp/B083779T7L/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">I Paused My Game to Be Here | Funny Video Gamer Humor Joke for Men Women T-Shirt</p>
				<a href="https://www.amazon.com/dp/B09JQPHML6/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81yUHWTSAVL._AC_SX466_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $19.99</p>
				<a href="https://www.amazon.com/dp/B09JQPHML6/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Quest 2  Advanced All-In-One Virtual Reality Headset  128 GB</p>
				<a href="https://www.amazon.com/Oculus-Quest-Advanced-All-One-Virtual/dp/B099VMT8VZ/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61tE7IcuLmL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $249.00</p>
				<a href="https://www.amazon.com/Oculus-Quest-Advanced-All-One-Virtual/dp/B099VMT8VZ/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Novelty Gamer Socks Beanie Winter Hat Baseball Cap, Funny Gamer Gifts Stocking Stuffers for Teens Boys Men Teenagers Black</p>
				<a href="https://www.amazon.com/Novelty-Baseball-Stocking-Stuffers-Teenagers/dp/B0CK6P2LQY/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61syJo9yGeL._AC_SX569_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $17.99</p>
				<a href="https://www.amazon.com/Novelty-Baseball-Stocking-Stuffers-Teenagers/dp/B0CK6P2LQY/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Can't Hear You I'm Gaming Headset Graphic Video Games Gamer Mens Funny T Shirt</p>
				<a href="https://www.amazon.com/Gaming-Graphic-Novelty-Sarcastic-Funny/dp/B08PL51QC6/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/51+O1T93EBL._AC_SX466_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $14.99</p>
				<a href="https://www.amazon.com/Gaming-Graphic-Novelty-Sarcastic-Funny/dp/B08PL51QC6/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Castle Fairy Game Controller Equipment Bedspread King Size,Modern Video Game Gamepad Coverlet Set for Teens Adult Xmas Gift,Gaming Quilt Set with 2 Pillowcaes,Polyester Quilted</p>
				<a href="https://www.amazon.com/Castle-Fairy-Controller-Equipment-Pillowcaes/dp/B0CN67P5ZL/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/7137tvsFqeL._AC_SL1200_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $69.00</p>
				<a href="https://www.amazon.com/Castle-Fairy-Controller-Equipment-Pillowcaes/dp/B0CN67P5ZL/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Exquisite Gaming: Call of Duty: Monkeybomb - Original Mobile Phone & Gaming Controller Holder, Device Stand, Cable Guys, Licensed Figure</p>
				<a href="https://www.amazon.com/Exquisite-Gaming-Cable-Guys-Controller/dp/B08KJJFFY8/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/614hVstPmWL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $24.99</p>
				<a href="https://www.amazon.com/Exquisite-Gaming-Cable-Guys-Controller/dp/B08KJJFFY8/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">7.1 Wireless Gaming Headset with Microphone for PS4, PS5, PC, Switch, Mac, 2.4GHz Bluetooth Gaming Headphones with Crystal-Clear Mic, 50Hr Battery, Cool RGB</p>
				<a href="https://www.amazon.com/WESEARY-Wireless-Microphone-Bluetooth-Headphones-Crystal-Clear/dp/B0CGLZYXMD/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71GY4d13WWL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $29.99</p>
				<a href="https://www.amazon.com/WESEARY-Wireless-Microphone-Bluetooth-Headphones-Crystal-Clear/dp/B0CGLZYXMD/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
			<p class="product-description">Xbox 360 4GB Slim Console - (Renewed)</p>
			<a href="https://www.amazon.com/Xbox-360-4GB-Slim-Console-Refurbished/dp/B00KRT2QCY/" target= "_blank">
				<img src="https://m.media-amazon.com/images/I/61oFqsoj9nL._SL1000_.jpg" alt="Product Image">
				
			</a>
			<p class="price">Price: $146.99</p>
			<a href="https://www.amazon.com/Xbox-360-4GB-Slim-Console-Refurbished/dp/B00KRT2QCY/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Gaming Socks</p>
				<a href="https://www.amazon.com/Sockfun-Gaming-Socks-Gamer-Gamers/dp/B09GVFTFDN/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71V33KstCxL._AC_SX569_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $5.99</p>
				<a href="https://www.amazon.com/Sockfun-Gaming-Socks-Gamer-Gamers/dp/B09GVFTFDN/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">2.4GHz Wireless Gaming Headset for PC, PS5, PS4 - Lossless Audio USB & Type-C Ultra Stable Gaming Headphones with Flip Microphone, 30-Hr Battery Gamer Headset for Switch, Laptop, Mobile, Mac</p>
				<a href="https://www.amazon.com/Ozeino-2-4GHz-Wireless-Gaming-Headset/dp/B0C4F9JGTJ/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71MtuoeFemL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $39.99</p>
				<a href="https://www.amazon.com/Ozeino-2-4GHz-Wireless-Gaming-Headset/dp/B0C4F9JGTJ/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Minecraft Creeper Boys 3-Piece Bundle Set, Zip up Fashion Hoodie, Short Sleeve T-Shirt, and Jogger Sweatpants</p>
				<a href="https://www.amazon.com/Minecraft-3-Pack-Bundle-Hoodie-Pants/dp/B08YFHC7Z7/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81ohcI2BfaL._AC_SX569_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $44.99 - $53.99</p>
				<a href="https://www.amazon.com/Minecraft-3-Pack-Bundle-Hoodie-Pants/dp/B08YFHC7Z7/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">FIFINE PC Gaming Headset, USB Headset with 7.1 Surround Sound, Detachable Microphone, Control Box, 3.5mm Headphones Jack, Over-Ear Wired Headset for PS5/PS4/Xbox/Switch, Black-AmpliGame H9</p>
				<a href="https://www.amazon.com/FIFINE-Detachable-Microphone-Headphones-Black-AmpliGame/dp/B0C4ND25FT/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/7158M67MH3L._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $37.99</p>
				<a href="https://www.amazon.com/FIFINE-Detachable-Microphone-Headphones-Black-AmpliGame/dp/B0C4ND25FT/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cant Hear You Im Gaming Video Gamer Women Girls Kids Teens T-Shirt</p>
				<a href="https://www.amazon.com/Gaming-Video-Gamer-Kids-T-Shirt/dp/B0C3RTRD2Z/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/A13usaonutL._CLa%7C2140%2C2000%7C81rcW25la0L.png%7C0%2C0%2C2140%2C2000%2B0.0%2C0.0%2C2140.0%2C2000.0_AC_SX466_.png" alt="Product Image">
				</a>
				<p class="price">Price: $14.99</p>
				<a href="https://www.amazon.com/Gaming-Video-Gamer-Kids-T-Shirt/dp/B0C3RTRD2Z/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">V Is For Video Games Funny Valentines Day Gamer Boy Men Gift T-Shirt</p>
				<a href="https://www.amazon.com/Funny-Valentines-Day-Men-T-Shirt/dp/B0BPPKPBVP/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/A13usaonutL._CLa%7C2140%2C2000%7C81R%2BU6JBKUL.png%7C0%2C0%2C2140%2C2000%2B0.0%2C0.0%2C2140.0%2C2000.0_AC_SX466_.png" alt="Product Image">
				</a>
				<p class="price">Price: $18.99</p>
				<a href="https://www.amazon.com/Funny-Valentines-Day-Men-T-Shirt/dp/B0BPPKPBVP/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Game Gift Raglan Baseball Tee</p>
				<a href="https://www.amazon.com/Gaming-Panda-Gamer-Girls-Video/dp/B09P9SY6C6/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/A1Rz2T5IgLL._CLa%7C2140%2C2000%7C71nIRumDhvL.png%7C0%2C0%2C2140%2C2000%2B0.0%2C0.0%2C2140.0%2C2000.0_AC_SX466_.png" alt="Product Image">
				</a>
				<p class="price">Price: $25.99</p>
				<a href="https://www.amazon.com/Gaming-Panda-Gamer-Girls-Video/dp/B09P9SY6C6/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">PHOINIKAS Gaming Headset for PS4, Xbox One, PC, Laptop, Mac, Nintendo Switch, 3.5MM PS4 Stereo Headset Over Ear Headphones with Noise-Cancelling Mic, Bass Surround - Camo </p>
				<a href="https://www.amazon.com/Headset-Nintendo-PHOINIKAS-Noise-Cancelling-Surround/dp/B07VFGQ7BC/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/617AAEmjdbL._AC_SL1000_.jpg" alt="Product Image">

				</a>
				<p class="price">Price: $22.99</p>
				<a href="https://www.amazon.com/Headset-Nintendo-PHOINIKAS-Noise-Cancelling-Surround/dp/B07VFGQ7BC/" target="_blank" class="amazon-button">View on amazon</a>
				
			</div>

			<div class="gift-product">
				<p class="product-description">Gamer Gifts for Teenage Boy Men, Gamer Headset Stand for Gaming, Game Room Decoration</p>
				<a href="https://www.amazon.com/Teenage-Headset-Decoration-Grandson-Boyfriend/dp/B0B1CT1PW2/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61h15vfDLvL._AC_SL1200_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $27.99</p>
				<a href="https://www.amazon.com/Teenage-Headset-Decoration-Grandson-Boyfriend/dp/B0B1CT1PW2/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">0001Retro Game Console,Nostalgia Stick Game,Retro Game Stick,Wireless Retro Play Game Stick,with Built-in 9 Emulators,Retro Plug and Play Video Games for TV,Built in15000+Games</p>
				<a href="https://www.amazon.com/0001Retro-Console-Nostalgia-Wireless-Emulators/dp/B0CRBMNY7H/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61zZI3vgR7L._SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $39.99</p>
				<a href="https://www.amazon.com/0001Retro-Console-Nostalgia-Wireless-Emulators/dp/B0CRBMNY7H/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">BENGOO G9000 Stereo Gaming Headset for PS4 PC Xbox One PS5 Controller, Noise Cancelling Over Ear Headphones with Mic, LED Light, Bass Surround, Soft Memory Earmuffs (Blue)</p>
				<a href="https://www.amazon.com/BENGOO-G9000-Controller-Cancelling-Headphones/dp/B01H6GUCCQ/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61CGHv6kmWL._AC_SL1000_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $25.99</p>
				<a href="https://www.amazon.com/BENGOO-G9000-Controller-Cancelling-Headphones/dp/B01H6GUCCQ/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">YuanDian Can't Hear You I'm Gaming Night Light, Headset Graphic Video Games Gamer Gift Funny 3D Illusion Lamp 16 Colors Changing Touch & Remote Control </p>
				<a href="https://www.amazon.com/Headset-Graphic-Illusion-Changing-Teenagers/dp/B08X6DVF2V/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/616QfqcJ5JL._AC_SL1500_.jpg" alt="Product Image">
					
				</a>
				<p class="price">Price: $19.98</p>
				<a href="https://www.amazon.com/Headset-Graphic-Illusion-Changing-Teenagers/dp/B08X6DVF2V/" target=_blank class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Game Room Decor Gift for Boys/Men - Gifts for Gamers - Video Game Lover Gifts - Gifts for Gaming Blanket 50" x 60"</p>
				<a href="https://www.amazon.com/Punofell-Best-Gaming-Gifts-Men/dp/B0B9B54617/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/819+RrnskIL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $24.99</p>
				<a href="https://www.amazon.com/Punofell-Best-Gaming-Gifts-Men/dp/B0B9B54617/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Gaming Socks, Do Not Disturb I'm Gaming,Gaming Socks</p>
				<a href="https://www.amazon.com/Glowing-Gaming-Luminous-Disturb-Novelty/dp/B08QZ7FDZB/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/51573RehCgL._AC_SX569_.jpg" alt="Product image">
				</a>
				<p class="price">Price: $7.99</p>
				<a href="https://www.amazon.com/Glowing-Gaming-Luminous-Disturb-Novelty/dp/B08QZ7FDZB/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Gamer Gifts for Teenage Boys, Gaming Room Decoration, Gamer Pillow Cover and Game Socks Gifts Set, 18" x 18"</p>
				<a href="https://www.amazon.com/Teenage-Gaming-Decoration-Pillow-OCCdesign/dp/B09NVTHWXR/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71UwrdfRohL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $12.99</p>
				<a href="https://www.amazon.com/Teenage-Gaming-Decoration-Pillow-OCCdesign/dp/B09NVTHWXR/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Foot Rest for Under Desk at Work Adjustable Foam for Office, Work, Gaming, Computer, Gift, Home Office Accessories Back & Hip Pain Relief (Grey)</p>
				<a href="amazon.com/CushZone-Adjustable-Office-Computer-Accessories/dp/B0B7HZNMPZ/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/812S5LcnAJL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $24.99</p>
				<a href="https://www.amazon.com/CushZone-Adjustable-Office-Computer-Accessories/dp/B0B7HZNMPZ/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">ZUUKOO Smart RGB LED Light Bar with 19 Dynamic Modes, Music Sync for Gaming, Movies, PC, TV, Room Decoration</p>
				<a href="https://www.amazon.com/ZUUKOO-LIGHT-Backlight-Lighting-Decoration/dp/B09GY58PWV/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61zOk0z0VIL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $39.99</p>
				<a href="https://www.amazon.com/ZUUKOO-LIGHT-Backlight-Lighting-Decoration/dp/B09GY58PWV/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">MOONBEEKI Cat Paw Cushion Comfy Kawaii Chair Plush Cushions Shape Lazy Pillow for Gamer Chair 28"x 24" </p>
				<a href="https://www.amazon.com/Cushion-Pillow-Bedroom-Comfort-Building/dp/B09BZP6WC7/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61UTLdWtynL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $26.99</p>
				<a href="https://www.amazon.com/Cushion-Pillow-Bedroom-Comfort-Building/dp/B09BZP6WC7/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Chocolate Gift Box "Game Controller" 70g</p>
				<a href="https://www.amazon.com/Chocolate-Gift-Box-Game-Controller/dp/B00JWNOR0K/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61L6lPZt12L._SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $14.67</p>
				<a href="https://www.amazon.com/Chocolate-Gift-Box-Game-Controller/dp/B00JWNOR0K/" target="_blank" class="amazon-button">View on amazon</a>
			</div> 

			<div class="gift-product">
				<p class="product-description">YuanDian Headphone Stand, Walnut Wood Headset Holder with Blue Pink LED Night Light for Gamers</p>
				<a href="https://www.amazon.com/YuanDian-Headphone-Walnut-Headset-Holder/dp/B0C3B7FH66/" target="_blank">
					<img src="https://www.amazon.com/YuanDian-Headphone-Walnut-Headset-Holder/dp/B0C3B7FH66/" alt="Product Image">
				</a>
				<p class="price">Price: $29.99</p>
				<a href="https://www.amazon.com/YuanDian-Headphone-Walnut-Headset-Holder/dp/B0C3B7FH66/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Attivolife Game Water Bottle for Boys, Light up 3D Glowing LED Light - 14 OZ Tritan BPA Free - 7 Color Change - Drinking Cup Gift</p>
				<a href="https://www.amazon.com/Attivolife-Water-Bottle-Light-Glowing/dp/B0BYJ6PRZS/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81f-0dY86ML._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $17.99</p>
				<a href="https://www.amazon.com/Attivolife-Water-Bottle-Light-Glowing/dp/B0BYJ6PRZS/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">PlayStation 5 Digital Edition (slim)</p>
				<a href="https://www.amazon.com/PlayStation%C2%AE5-Digital-slim-PlayStation-5/dp/B0CL5KNB9M/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/51fM0CKG+HL._SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $449.00</p>
				<a href="https://www.amazon.com/PlayStation%C2%AE5-Digital-slim-PlayStation-5/dp/B0CL5KNB9M/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Paladone Playstation Light - Desktop Game Room Lighting - Includes 3 Light Modes - Powered by USB or AAA Batteries - Logo Light</p>
				<a href="https://www.amazon.com/Paladone-Playstation-Officially-Licensed-Merchandise/dp/B09RLQM33Q/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71lS+FfuSVL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $13.99</p>
				<a href="https://www.amazon.com/Paladone-Playstation-Officially-Licensed-Merchandise/dp/B09RLQM33Q/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">PlayStation 5 Pulse 3D Wireless Headset</p>
				<a href="https://www.amazon.com/PlayStation-Pulse-3D-Wireless-Headset/dp/B08H99878P/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71Xtf5fsFCL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $97.00</p>
				<a href="https://www.amazon.com/PlayStation-Pulse-3D-Wireless-Headset/dp/B08H99878P/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">TheraICE Migraine Relief Cap, Soothing Headache Ice Pack Mask Products, Cooling Gel Hat, Face Cold Compress Head Wrap for Tension, Stress & Hangover</p>
				<a href="https://www.amazon.com/TheraICE-Rx-Headache-Comfortable-Stretchable/dp/B082WN9NJL/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/7146iZpwv8L._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $29.95</p>
				<a href="https://www.amazon.com/TheraICE-Rx-Headache-Comfortable-Stretchable/dp/B082WN9NJL/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">RENPHO Eyeris 1 Eye Massager with Heat, Heated Eye Mask with Bluetooth Music, Face Massager to Relax, Eye Care Device</p>
				<a href="https://www.amazon.com/RENPHO-Massager-Compression-Bluetooth-Rechargeable/dp/B07SM61FCT/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61OFT5If6JS._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $69.99</p>
				<a href="https://www.amazon.com/RENPHO-Massager-Compression-Bluetooth-Rechargeable/dp/B07SM61FCT/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Star Projector Galaxy Night Light - Astronaut Space Projector, Starry Nebula Ceiling LED Lamp with Timer and Remote</p>
				<a href="https://www.amazon.com/SunTime-Projector-Galaxy-Night-Light/dp/B09FL6YR9L/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61KLdbeRbaL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $29.99</p>
				<a href="https://www.amazon.com/SunTime-Projector-Galaxy-Night-Light/dp/B09FL6YR9L/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Total Grip Solution – Stops sweat on hands for up to 4 Hours. Made for Gamers and Athlete</p>
				<a href="https://www.amazon.com/Gamer-Grip-Instant-Dry-Touch-Gel/dp/B00W1T7B1O/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/516oxDWRuFL._SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $13.25</p>
				<a href="https://www.amazon.com/Gamer-Grip-Instant-Dry-Touch-Gel/dp/B00W1T7B1O/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Gaming Controller Holder One More Life | Controller Holder Figure | Headphone Stand & Controller</p>
				<a href="https://www.amazon.com/Gaming-Controller-Holder-Headphone-Accessories/dp/B0C813CQ2Y/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61aOSFQG5bL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $39.90</p>
				<a href="https://www.amazon.com/Gaming-Controller-Holder-Headphone-Accessories/dp/B0C813CQ2Y/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">ZIUMIER Gaming Headset with Microphone, Compatible with PS4 PS5 Xbox One PC Laptop, Over-Ear Headphones with LED RGB Light, Noise Canceling Mic, 7.1 Stereo Surround Sound</p>
				<a href="https://www.amazon.com/ZIUMIER-Microphone-Surround-Over-Ear-Headphones/dp/B07ZF8T63K/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71nh1VxLzuL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $25.99</p>
				<a href="https://www.amazon.com/ZIUMIER-Microphone-Surround-Over-Ear-Headphones/dp/B07ZF8T63K/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">MoCuishle Shiatsu Back Shoulder and Neck Massager with Heat, Electric Deep Tissue 4D Kneading Massage</p>
				<a href="https://www.amazon.com/Shiatsu-Back-Shoulder-Neck-Massager/dp/B07G142F9Z/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71fdZ-Ei0tL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $49.99</p>
				<a href="https://www.amazon.com/Shiatsu-Back-Shoulder-Neck-Massager/dp/B07G142F9Z/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Homall Gaming Chair, Office Chair High Back Computer Chair Leather Desk Chair Racing Executive Ergonomic Adjustable Swivel Task Chair with Headrest and Lumbar Support (White)</p>
				<a href="https://www.amazon.com/Homall-Computer-Executive-Ergonomic-Adjustable/dp/B01MRZ02TL/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61HEqHMkRhL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $98.99</p>
				<a href="https://www.amazon.com/Homall-Computer-Executive-Ergonomic-Adjustable/dp/B01MRZ02TL/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Cute Gaming Chair with Cat Paw Lumbar Cushion and Cat Ears, Ergonomic Computer Chair with Footrest, Reclining PC Game Chair</p>
				<a href="https://www.amazon.com/Vigosit-Ergonomic-Computer-Footrest-Reclining/dp/B0CB62CZ87/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/81a22b4WOfL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $161.99</p>
				<a href="https://www.amazon.com/Vigosit-Ergonomic-Computer-Footrest-Reclining/dp/B0CB62CZ87/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">GTRACING Gaming Recliner Chair with Bluetooth Speakers Racing Style Single Gaming Sofa Modern Living Room Recliners Ergonomic Comfortable Massage Home Theater Seating, Black</p>
				<a href="https://www.amazon.com/GTRACING-Bluetooth-Recliners-Ergonomic-Comfortable/dp/B0C4KJ9TXP/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61v56kKi0uL._AC_SL1458_.jpg" alt="Product Image">
				</a>
				<p class="price">Price: $179.99</p>
				<a href="https://www.amazon.com/GTRACING-Bluetooth-Recliners-Ergonomic-Comfortable/dp/B0C4KJ9TXP/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
		</div>
	</section>
</main>
<footer>
	<p class="glitter-copyright">&copy; Surprizora 2024. All rights reserved.</p>
</footer>
</body>
</html>