{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width initial-scale=1.0">
	<title>Going for a leisurely walk or run to clear their mind - Surprizora</title>
	<link rel="stylesheet" type="text/css" href="{%static 'css/walk_run_gifts.css'%}">

	
</head>	
<body>
	<header>
		<h1>Running Walking Gifts </h1>
	</header>
	<main>
		<section>
			<h2>Recommended Gifts To Clear Mind Through A Nice Walk Or A Run</h2>
			<div class="gift-product">
				<p class="product-description">Rogue River Tactical Best Funny Coffee Mug I enjoy Long Romantic Walks To The Gun Shop Novelty Cup</p>
				<a href="https://www.amazon.com/Coffee-Romantic-Novelty-Hunter-Hunting/dp/B078WYZ3M5/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/716v-x1khqL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p>Price: $15.99</p>
				<a href="https://www.amazon.com/Coffee-Romantic-Novelty-Hunter-Hunting/dp/B078WYZ3M5/" target="_blank" class="amazon-button">View on amazon</a>
			</div>
			<div class="gift-product">
				<p class="product-description">Blue Q Women's Novelty Crew Socks (fit women's shoe size 5-10)</p>
				<a href="https://www.amazon.com/Blue-Womens-Crew-Sock-Fucking/dp/B07DM4VW5N/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/91y7WUtyjSL._AC_SY550_.jpg" alt="Product Image">
				</a>
				<a href="https://www.amazon.com/Blue-Womens-Crew-Sock-Fucking/dp/B07DM4VW5N/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">One Bad Mother Runner Two Tone Mug, 11oz, Blue</p>
				<a href="https://www.amazon.com/3dRose-161096_6-Mother-Runner-Tone/dp/B01JZWGAN4/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61yLbq1K5eL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p>$9.70</p>
				<a href="https://www.amazon.com/3dRose-161096_6-Mother-Runner-Tone/dp/B01JZWGAN4/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Under Armour Women's Play Up No Show Tab Socks, 3-Pairs</p>
				<a href="https://www.amazon.com/Under-Armour-3-Pairs-Breaker-Electro/dp/B09WB38GQ2/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/91o9E+iKaWL._AC_SX679_.jpg" alt="Product Image">
				</a>
				<p>Price: 13.35</p>
				<a href="https://www.amazon.com/Under-Armour-3-Pairs-Breaker-Electro/dp/B09WB38GQ2/" target="_blank" class="amazon-button">View on amazon</a>

			</div>

			<div class="gift-product">
				<p class="product-description">Under Armour Women's Launch Run Visor</p>
				<a href="https://www.amazon.com/Under-Armour-Womens-Launch-Reflective/dp/B089G1WV4X/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/41daxA5opoL._AC_SX569_.jpg" alt="Product Image">
				</a>
				<a href="https://www.amazon.com/Under-Armour-Womens-Launch-Reflective/dp/B089G1WV4X/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Balega Blister Resist Performance Quarter Athletic Running Socks for Men and Women (1 Pair)</p>
				<a href="https://www.amazon.com/Balega-Blister-Resist-Quarter-Medium/dp/B09GQTN54P/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/91AK878qxBL._AC_SX569_.jpg" alt="Product Image">
				</a>
				<p>Price: $18</p>
				<a href="https://www.amazon.com/Balega-Blister-Resist-Quarter-Medium/dp/B09GQTN54P/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Walker's Razor Slim Earmuffs</p>
				<a href="https://www.amazon.com/Walkers-Razor-Slim-Electronic-Muff/dp/B01AAH8CRU/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/615Mgf+pxmL._AC_SX569_.jpg" alt="Product image">
				</a>
				<p>Price: $39.58</p>
				<a href="https://www.amazon.com/Walkers-Razor-Slim-Electronic-Muff/dp/B01AAH8CRU/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Saucony Men's Echelon Walker 3 Walking Shoes</p>
				<a href="https://www.amazon.com/Saucony-Echelon-Walker-Running-Black/dp/B086PX6K75/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/51Y7tmQ0kWL._AC_SY575_.jpg" alt="Product Image">
				</a>
				<p>Price: $129.95</p>
				<a href="https://www.amazon.com/Saucony-Echelon-Walker-Running-Black/dp/B086PX6K75/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Sperry Women's, Walker Chelsea Rain Boot</p>
				<a href="https://www.amazon.com/Sperry-Walker-Chelsea-Black-8-5/dp/B08T6R3TZM/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/41yhksaSPmL._AC_SY575_.jpg" alt="Product Image">
				</a>
				<p>$55.96</p>
				<a href="https://www.amazon.com/Sperry-Walker-Chelsea-Black-8-5/dp/B08T6R3TZM/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Black and White Layout of A Chess Board Men's Running Shoe Classic Walking Sneaker Supportive Hiker Shoes Sports Outdoor</p>
				<a href="https://www.amazon.com/Running-Classic-Walking-Sneaker-Supportive/dp/B0CV4RNDPQ/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71JrmTdvyfL._AC_SY575_.jpg" alt="Product Image">
				</a>
				<p>$69.99</p>
				<a href="https://www.amazon.com/Running-Classic-Walking-Sneaker-Supportive/dp/B0CV4RNDPQ/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Vionic Women's Drift Milan Slip-On Adjustable Strap Leisure Sneakers- Supportive Walking Shoes That Include Three-Zone Comfort with Orthotic Insole Arch Support, Sneakers for Women</p>
				<a href="https://www.amazon.com/Vionic-Adjustable-Sneakers-Supportive-Three-Zone/dp/B087ZZPR7Q/" target="_blank">
					<img src="Vionic Women's Drift Milan Slip-On Adjustable Strap Leisure Sneakers- Supportive Walking Shoes That Include Three-Zone Comfort with Orthotic Insole Arch Support, Sneakers for Women" target="_blank">
				</a>
				<p>Price: $56.99</p>
				<a href="https://m.media-amazon.com/images/I/71enxfKP+YL._AC_SX575_.jpg" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Adidas Men's Parma 16 Shorts</p>
				<a href="https://www.amazon.com/adidas-Soccer-Parma-Shorts-Medium/dp/B010DKQO2E/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71-1MZRoWwL._AC_SY550_.jpg" alt="Product Image">
				</a>
				<p>Price: $14.76 - $18.00</p>
				<a href="https://www.amazon.com/adidas-Soccer-Parma-Shorts-Medium/dp/B010DKQO2E/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			

			<div class="gift-product">
				<p class="product-description">Men's Casual Classic Quick Dry Fit 4Way Stretch Hybrid Submersible Chino Walk Active Shorts</p>
				<a href="https://www.amazon.com/HETHCODE-Casual-Classic-Hybrid-Submersible/dp/B071SD7S8C/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/819-XjbZzwL._AC_SX522_.jpg" alt="Product Image">
				</a>
				<p>Price: $14.99 - $29.99</p>
				<a href="https://www.amazon.com/HETHCODE-Casual-Classic-Hybrid-Submersible/dp/B071SD7S8C/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Skechers Women's Go Walk Joy Sneaker</p>
				<a href="https://www.amazon.com/Skechers-Performance-Womens-Walking-black/dp/B0719CZ8V9/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61BDh0Bh3eL._AC_SY695_.jpg" alt="Product Image">
				</a>
				<p>Price: $34.46 - $64.95</p>
				<a href="https://www.amazon.com/Skechers-Performance-Womens-Walking-black/dp/B0719CZ8V9/" target="_blank" class="amazon-button">View on amazon</a>
			</div>



			<div class="gift-product">
				<p class="product-description">Vionic Women's Walk Tabi Lesiure Shoes - Adjustable Supportive Walking Shoes That Include Three-Zone Comfort with Orthotic Insole Arch Support, Sneakers for Women, Active Sneakers</p>
				<a href="https://www.amazon.com/Vionic-Womens-Tabi-Walking-White/dp/B07W77CDBR/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/7188ENAwrCL._AC_SX575_.jpg" alt="Product Image">
				</a>
				<p>Price: $39.99</p>
				<a href="https://www.amazon.com/Vionic-Womens-Tabi-Walking-White/dp/B07W77CDBR/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift product">
				<p class="product-description">Flygo Men's Fleece Lined Sherpa Sweatpants Winter Warm Pants Jogger Lounge Athletic Pant with Pockets</p>
				<a href="https://www.amazon.com/Flygo-Sweatpants-Joggers-X-Large-GreyGrey/dp/B08H1K863K/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/71OVirMGP2L._AC_SY550_.jpg" alt="Product Image">
				</a>
				<p>Price: $23.98 - $38.98</p>
				<a href="https://www.amazon.com/Flygo-Sweatpants-Joggers-X-Large-GreyGrey/dp/B08H1K863K/" target="_blank" class="amazon-class">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">Bose QuietComfort Earbuds II, Wireless, Bluetooth, Proprietary Active Noise Cancelling Technology In-Ear Headphones with Personalized Noise Cancellation & Sound, Triple Black</p>
				<a href="https://www.amazon.com/Bose-QuietComfort-Cancelling-Personalized-Cancellation/dp/B0B4PSQHD5/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/51KW4y31pJL._AC_SL1200_.jpg" alt="Product Image">
				</a>
				<p>Price: $199</p>
				<a href="https://www.amazon.com/Bose-QuietComfort-Cancelling-Personalized-Cancellation/dp/B0B4PSQHD5/" target="_blank" class="amazon-class">View on amazon</a>
			</div>

			<div class="gift-product">
				<a href="https://www.amazon.com/Sony-LinkBuds-Wireless-Headphones-Open-Ring/dp/B09QNLR4GD/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/51vrh3iG9dL._AC_SL1200_.jpg" target="_blank">
				</a>
				<p>Price: $178</p>
				<a href="https://www.amazon.com/Sony-LinkBuds-Wireless-Headphones-Open-Ring/dp/B09QNLR4GD/" target="_blank" class="amazon-button">View on amazon</a>
			</div>

			<div class="gift-product">
				<p class="product-description">JBL Live Free 2: 35 Hours of Playtime, True Adaptive Noise Cancelling, Smart Ambient, and beamforming mics (Silver), Small</p>
				<a href="https://www.amazon.com/JBL-Live-Free-Cancelling-beamforming/dp/B09V9XNF23/" target="_blank">
					<img src="https://m.media-amazon.com/images/I/61OwU47y4rL._AC_SL1500_.jpg" alt="Product Image">
				</a>
				<p>Price: $149.95</p>
				<a href="https://www.amazon.com/JBL-Live-Free-Cancelling-beamforming/dp/B09V9XNF23/" target="_blank" class="amazon-button">View on amazon</a>
			</div>


			
		

		
		</section>
	</main>
	<footer>
		<p class="glitter-copyright">&copy; 2024 Surprizora. All rights reserved.</p>
	</footer>
</body>
</html>